{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>ОТВЕТЫ СПЕЦИАЛИСТОВ</h1>
{% endblock %}


{% block content %}
        <div class="faq_question">{{ question }}</div>
    <form id="register_form" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
    </form>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .qa {
            position:      relative;
            border:        3px solid #eee;
            margin-bottom: 10px;
            padding:       11px 12px 10px;
        }
        .qa-expand {
            display:       inline-block;
            border-bottom: 2px dotted #aaa;
            color:         #d71344;
            cursor:        pointer;
        }
        .qa-question p, .qa-answer p {
            margin: 8px 0;
        }
        .qa-question p:first-child, .qa-answer p:first-child {
            margin-top: 0;
        }
        .qa-question {
            font-family: 'PT Sans Caption', sans-serif;
            font-size:   15px;
            color:       #2f4053;
        }
        .expanded .qa-question {
            border-bottom: 1px solid #ddd;
            margin-bottom: 8px;
        }
        .qa-answer {
            font-size: 15px;
            display:   none;
        }


        .qa-ask{
            border-bottom: 3px solid #eee;
            margin-bottom: 10px;
        }
        .tabs a{
            width: 100%;
            display: block;
            text-align: center;
            padding: 7px 0;
        }
        .green{
            padding: 5px;
            text-align: center;
            border: 1px solid #62AC75;
            background: #a4ffbc;
            color: #263e2e;
            margin-bottom: 14px;
        }
        .label{
            width: 200px !important;
        }
        .widget{
            width: 500px !important;
        }
        #form_answer{
            width: 500px !important;
            height: 100px;
        }
        .faq_question{
            padding-left: 45px;
            padding-bottom: 10px;
            text-align: justify;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}