{% extends 'VidalMainBundle::layout.html.twig' %}


{% block menu %}
	{% include 'VidalMainBundle::menu_big.html.twig' %}
{% endblock %}


{% block title %}
	<h1>АНОНСЫ</h1>
{% endblock %}


{% block content %}
	{{ render(controller('VidalMainBundle:Index:Module', {'moduleId':1})) }}

	{# Актуальные новости #}
	{% if publicationsPriority is not empty %}
		<div class="title title-priority">
			<a href="{{ path('news') }}">Актуальные новости</a>
		</div>
		{% include 'VidalMainBundle:Index:render_news.html.twig' with {'news':publicationsPriority, 'without_date':1} %}
	{% endif %}

	{# Последние новости #}
	<div class="title title-news">
		<a href="{{ path('news') }}">Новости медицины и фармации</a>
	</div>
	{% include 'VidalMainBundle:Index:render_news.html.twig' with {'news':publications} %}
	<a href="{{ path('news') }}" id="more_news">все</a>

	{# Статьи энциклопедии #}
	<div class="title title-articles">
		<a href="{{ path('articles') }}">Новые материалы на сайте</a>
	</div>
	{% include 'VidalMainBundle:Index:render_articles.html.twig' %}
	<a href="{{ path('articles') }}" id="more_articles">все</a>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
	<style type="text/css">
		h1 {
			margin-bottom: 12px;
		}
		.title-articles, .title-news {
			margin-top: 20px;
		}
		#more_news, #more_articles {
			padding-left: 8px;
		}
		.priority-news .publications:last-child {
			border-bottom: none;
		}
	</style>
{% endblock %}
