{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>ВЕБИНАР «Невинный» храп»</h1>
{% endblock %}


{% block content %}
    <div class="divisions">
        <img src="{{ asset('bundles/vidalmain/images/emblem-blue-logo-final1.png') }}" style="width: 515px"/>
        <br />
        <br />
        <br />
        <b style="font-size: 20px">18 декабря 2014 в 16 часов (мск).</b>
        <br />
        <br />
        <p style="text-align: justify">
            Друзья!
            <br />
            Приглашаем вас принять участие в вебинаре «Невинный» храп».
            <br />
            Что вы знаете о храпе? Знаете ли вы что в мире около 40 % людей храпит. Из них у половины храп является признаком опасного заболевания, грозящим высоким риском инфарктов и инсультов.
            <br />
            <br />
            «Невинный» храп может быть симптомом такого заболевания как АПНОЭ. Многие слышали, но не многие знают, что это значит и чем опасно.
            <br />
            АПНОЭ может быть одной из причин, серьезно усугубляющих такие заболевания как: проблемы с лишним весом, проблемы с потенцией, с  сердцем, заболевания эндокринной системы и многие другие.
        </p>
        <p>
            <ul>
                <li>Чем грозит «невинный» храп вам и вашим близким?</li>
                <li>Как узнать причины храпа. </li>
                <li>Как правильно лечить и к каким докторам обращаться.</li>
            </ul>
            <b>Обо всем этом вы узнаете в нашем вебинаре.</b>
        </p>
        <p>
            У вас будет уникальная возможность в прямом эфире задать вопросы ведущему специалисту в этой области Малявину Андрею Георгиевичу.
        </p>
        <br/>
        <b>Внимание!</b> Количество мест ограниченно.
        <a href="http://my.webinar.ru/event/408448" style="text-decoration: none"><span class="vebinar-btn">Записаться на вебинар</span></a>
        <br />
        <br />
        <table style="width: 515px">
            <tr>
                <td style="vertical-align: top;">
                    <img src="{{ asset('bundles/vidalmain/images/malyavin--300x300.jpg') }}" style="width: 150px">
                </td>
                <td style="padding: 0 0 0 10px; text-align: justify">
                    <b>
                        Малявин Андрей Георгиевич
                    </b>
                    <br />
                    <br />
                    Доктор медицинских наук, профессор, начальник управления науки и заведующим кафедрой пульмонологии ФПДО МГМСУ им. А.И.Евдокимова. Стаж работы по специальности 20 лет. Врач высшей категории. Имеет профессиональную подготовку в области функциональной диагностики и медицины сна. Автор 7 монографий и 215 научных работ. Главный редактор журнала «Доктор.Ру. – Терапия.
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: justify">
                    Клиническая медицина сна.»
                    <br />
                    Член Ученого Совета ММПЦ реабилитации, восстановительной и спортивной медицины Департамента Здравоохранения Москвы. Активный член професиональных сообществ: Российского Респираторного Общества, Европейсткого Респираторного Общества, Американского Торакального Общества.
                    <br />
                    сайт <a href="http://pulmo.ru">pulmo.ru</a>
                </td>
            </tr>
        </table>
    </div>
    {#{{ render(controller('VidalMainBundle:Index:Module', {'moduleId':2})) }}#}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/divisions.css') }}"/>
    <style>
        .vebinar-btn{
            padding: 5px 10px;
            background: #d71344;
            color: #FFFFFF;
        }
        .vebinar-btn:hover{
            background: #c21240;
        }
    </style>
{% endblock %}