{% extends 'VidalMainBundle::minimal_layout.html.twig' %}

{% block body %}
	<p>Уважаемый {{ user.getPoliteReference() }}, благодарим Вас за регистрацию на портале Vidal.ru!</p>
	<p>
		Ваш логин: <b>{{ user.username }}</b><br/>
		Ваш пароль: <b>{{ user.password }}</b>
	</p>
	<p>Для того чтобы получить полный доступ к функциям сайта (или мобильного приложения), осталось лишь подтвердить,
		что это Ваш настоящий электронный адрес. Для этого просто перейдите по ссылке:</p>
	<p>
		<a href="https://www.vidal.ru/confirm-email/{{ user.id }}/{{ user.hash }}">
			https://www.vidal.ru/confirm-email/{{ user.id }}/{{ user.hash }}
		</a>
	</p>

	{% include 'VidalMainBundle:Email:signature.html.twig' %}
{% endblock %}