{% extends 'VidalMainBundle::layout_promo.html.twig' %}

{% block middle %}
	<noindex>
	<div class="pages">
	{# Школа гастрита #}
	<div class="page page-main">
	<div class="block-1">
		<table style="width: 100%; height: 344px">
			<tr>
				<td style="vertical-align: top">
					<div style="margin-left: 135px; padding-top: 85px;">
						<div class="block-1-title">
							коллост
						</div>
						<div>
							<br/>
							<br/>
							<img src="{{ asset('bundles/vidalmain/images/collost/blue-line.png') }}">
							<br/>
							<br/>
						</div>
						<div class="block-1-text">
							инновационный стерильный<br/>
							биопластический коллагеновый материал
						</div>
					</div>
				</td>
				<td></td>
				<td style="width:430px">
					<img src="{{ asset('bundles/vidalmain/images/collost/box.png') }}?v=1">
				</td>
			</tr>
		</table>
	</div>
	<div class="block-2">
		<div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
			<div class="block-2-title">
				КОЛЛОСТ<sup>®</sup> помогает при...
			</div>
			<div>
				<br/>
				<img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}">
				<br/>
				<br/>
			</div>
			<table style="width: 100%; margin-top: 60px">
				<tr>
					<td style="text-align: center; width: 25%; vertical-align: top">
						<a href="http://collostmed.ru/application/prolejni/" target="_blank"><img
								src="{{ asset('bundles/vidalmain/images/collost/icon-3.png') }}"></a>
						<br/>
						<br/>

						<div class="icon-text">
							пролежни
						</div>
					</td>
					<td style="text-align: center; width: 25%; vertical-align: top">
						<a href="http://collostmed.ru/application/yazvi/" target="_blank"><img
								src="{{ asset('bundles/vidalmain/images/collost/icon-4.png') }}"></a>
						<br/>
						<br/>

						<div class="icon-text">
							трофические язвы
						</div>
					</td>
					<td style="text-align: center; width: 25%;  vertical-align: top">
						<a href="http://collostmed.ru/application/rani/" target="_blank"><img
								src="{{ asset('bundles/vidalmain/images/collost/icon-1.png') }}"></a>
						<br/>
						<br/>

						<div class="icon-text">
							острые раны
						</div>
					</td>
					<td style="text-align: center; width: 25%; vertical-align: top">
						<a href="http://collostmed.ru/application/stopa/" target="_blank"><img
								src="{{ asset('bundles/vidalmain/images/collost/icon-2.png') }}"></a>
						<br/>
						<br/>

						<div class="icon-text">
							синдром диабетической стопы
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="block-3">
		<div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
			<div class="block-3-title">
				Коллост<sup>®</sup>: проверено временем
				<br/>
				<img src="{{ asset('bundles/vidalmain/images/collost/blue-line.png') }}" style="margin-left: 10px">
				<br/>
				<br/>
			</div>
			<div style="position: relative">
				<img class="lbtn" src="{{ asset('bundles/vidalmain/images/shkola/l.png') }}"/>
				<img class="rbtn" src="{{ asset('bundles/vidalmain/images/shkola/r.png') }}"/>

				<div class="slider"> <!-- Сам контейнер -->
					<div class="slider-box">
						<div class="slider-item" data="1"> <!-- Элемент контейнера -->
							<table>
								<tr>
									<td class="slider-item-img">
										<img src="{{ asset('bundles/vidalmain/images/collost/i1.png') }}"
											 style="margin-left: 10px">
									</td>
									<td class="slider-item-text">
										Коллаген – вещество,
										притягивающее внимание
										специалистов уже более четырех
										десятков лет. <br/>
										Применение коллагена в
										косметологии показало
										удивительные результаты. <br/>
										Однако не только пластической
										хирургии коллаген открывает
										новые перспективы.
									</td>
								</tr>
							</table>
						</div>
						<div class="slider-item" data="2"> <!-- Элемент контейнера -->
							<table>
								<tr>
									<td class="slider-item-img">
										<img src="{{ asset('bundles/vidalmain/images/collost/i2.png') }}"
											 style="margin-left: 10px">
									</td>
									<td class="slider-item-text">
										Исследования также
										показывают, что применение
										коллагеновых мембран не
										только помогает ускорить
										процесс заживления, <br/>

										но и снизить воспалительный
										процесс и болевые ощущения. <br/>
									</td>
								</tr>
							</table>
						</div>
						<div class="slider-item" data="3"> <!-- Элемент контейнера -->
							<table>
								<tr>
									<td class="slider-item-img">
										<img src="{{ asset('bundles/vidalmain/images/collost/i3.png') }}"
											 style="margin-left: 10px">
									</td>
									<td class="slider-item-text">
										Перед накладыванием мембраны её замачивают в растворе антисептика, антибиотика
										или 0,9%-ном растворе NaCl. Рану также обрабатывают. Мембрану
										обрезают по форме повреждения (для этого может понадобиться более одной
										мембраны). Далее накладывают марлевую повязку, также смоченную в растворе
										хлорида натрия. По мере подсыхания повязку постепенно увлажняют.
										<br/>
									</td>
								</tr>
							</table>
						</div>
						<div class="slider-item" data="4"> <!-- Элемент контейнера -->
							<table>
								<tr>
									<td class="slider-item-img">
										<img src="{{ asset('bundles/vidalmain/images/collost/i4.png') }}"
											 style="margin-left: 10px">
									</td>
									<td class="slider-item-text">
										Таким образом, коллагеновый
										материал способствует формированию на
										месте повреждения полноценной здоровой
										ткани. <br/>

										Сама же мембрана постепенно рассасывается. <br/>
									</td>
								</tr>
							</table>
						</div>
						<div class="slider-item" data="5"> <!-- Элемент контейнера -->
							<table>
								<tr>
									<td class="slider-item-img">
										<img src="{{ asset('bundles/vidalmain/images/collost/i5.png') }}"
											 style="margin-left: 10px">
									</td>
									<td class="slider-item-text">
										Кроме того, очевидным
										преимуществом является и
										отсутствие необходимости в
										частых перевязках – их достаточно
										осуществлять раз в 5-7дней. <br/>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="mini-buttons">
						<div class="btn-circle" id="circle-1" data="1"></div>
						<div class="btn-circle" id="circle-2" data="2"></div>
						<div class="btn-circle" id="circle-3" data="3"></div>
						<div class="btn-circle" id="circle-4" data="4"></div>
						<div class="btn-circle" id="circle-5" data="5"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-4">
		<div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
			<div class="block-4-title">
				Коллаген – новое слово в хирургии.
				<br/>
				<br/>
				<img src="{{ asset('bundles/vidalmain/images/collost/mini-line.png') }}">
				<br/>
				<br/>
			</div>

			<div class="block-4-text sized" style="height: 220px">
				На сегодняшний день такие диагнозы, как острые раны, пролежни, синдром диабетической стопы или
				трофические язвы, представляют серьезные сложности в хирургии, т.к. тяжело поддаются лечению,
				сопровождаются длительным и болезненным воспалительным процессом и частыми рецидивами. Порой
				лечение той же трофической язвы затягивается на года.
				<br/><br/>
				Новым словом в лечении таких повреждений кожи является использование коллагена. Коллаген – это
				основной белок соединительной ткани, отвечающий за прочность кожи. Использование препаратов,
				содержащих коллаген, может значительно ускорить процесс заживления кожных повреждений.
				Коллаген – вещество, притягивающее внимание специалистов уже более четырех десятков лет.
				Применение коллагена в косметологии показало удивительные результаты. Однако не только
				пластической хирургии коллаген открывает новые перспективы.
				<br/><br/>
				Коллаген – многофункциональный белок организма, одна из способностей которого - упорядочивать и
				стабилизировать клеточные ансамбли, с которыми он контактирует. Именно благодаря этой особенности
				коллаген играет важную роль в процессах заживления повреждений кожи. Потому
				коллагеносодержащие материалы могут стать новым словом в хирургии в целом и в лечении острых ран
				в частности.
			</div>
			<br/>
			<br/>
			<br/>
			<table>
				<tr>
					<td style="width: 50%; padding-right: 20px; vertical-align: top; padding-top: 40px;">
						<div class="block-4-subtitle">
							Как работают мембраны КОЛЛОСТ<sup>®</sup>
						</div>
						<br/>
						<img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}"
							 style="margin-left: 10px">
						<br/>
						<br/>

						<div class="block-4-subtext sized">
							Принцип действия коллагеновых мембран Коллост<sup>®</sup> кроется в стимуляции естественных
							регенеративных
							процессов: организм активно продуцирует собственный коллаген, в то время как используемая
							мембрана
							или гель постепенно рассасываются, сменяясь полноценной здоровой тканью.
							<br/><br/>
							В процессе заживления КОЛЛОСТ® постепенно рассасывается, формируя новые полноценные ткани.
							КОЛЛОСТ<sup>®</sup> предотвращает беспорядочный рост грануляционной и рубцовой ткани и, тем
							самым,
							препятствует формированию рубца. Таким образом КОЛЛОСТ<sup>®</sup> эффективен для лечения
							пролежней,
							острых ран, диабетической стопы, трофических язв, так как значительно ускоряет процесс
							заживления и,
							приводит к формированию полноценных тканей.
						</div>
					</td>
					<td style="width: 50%; padding-left: 20px; vertical-align: top; padding-top: 12px;">
						<div class="block-4-subtitle">
							Схема применения <br/> коллагенового материала в хирургии.
						</div>
						<br/>
						<img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}"
							 style="margin-left: 10px">
						<br/>
						<br/>

						<div class="block-4-subtext sized">
							Этап 1. После ревизии раны и определения наличия и характера карманов проводится первичная
							хирургическая обработка (привод в острую рану).<br/><br/>
							Этап 2. В 0,9% растворе NaCl (либо в растворе антисептика или антибиотика) замачивается
							мембрана
							КОЛЛОСТ<sup>®</sup> на 20-30 мин, и контурируется в зависимости от размеров
							дефекта.<br/><br/>
							Этап 3. Карманы и полости полностью и плотно заполняются порошком, шариками,жгутами или
							стружкой
							из обрезков мембраны КОЛЛОСТ<sup>®</sup>.
							Обязательным условием является полное и плотное прилегание КОЛЛОСТ<sup>®</sup> ко всем
							стенкам и дну раны.<br/><br/>
							Этап 4. Последним слоем укладывается вырезанная по размеру дефекта мембрана
							КОЛЛОСТ<sup>®</sup>,
							мембрана должна выступать за края раны на 0,3 см.При подвижности краев раны и с целью
							фиксации
							мембраны накладываются узловые швы.<br/><br/>
							Этап 5. Для достижения оптимального результата в края раны внутрикожно по всей окружности
							вводится
							7% гель КОЛЛОСТ<sup>®</sup> в количестве 1,5-3 мл в зависимости от размеров раны<br/><br/>
							Этап 6. Сверху на мембрану КОЛЛОСТ<sup>®</sup> укладывается раневая повязка или стерильная
							марлевая
							салфетка, смоченная 0,9%-м раствором NaCl. По мере высыхания необходимо увлажнять повязку.
							Обязательным условиям является влажная среда.
							В дальнейшем, больному необходимо делать перевязки каждые пять — семь дней, пока не наступит
							полное заживление раны.
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div style="position: relative"><img src="{{ asset('bundles/vidalmain/images/collost/curves-3.png') }}"
										 class="curves"></div>
	<div class="block-5">
		<div style="margin-left: 80px; padding-top: 30px;width: 1035px;">
			<div class="block-5-title">
				Преимущества использования материала<br/>
				КОЛЛОСТ<sup>®</sup> в лечении пролежней
				<br/>
				<br/>
				<img src="{{ asset('bundles/vidalmain/images/collost/mini-line.png') }}">
				<br/>
				<br/>
			</div>
			<div class="block-4-text sized">
				Использование коллагена в хирургии не только способствует ускоренной регенерации кожных покровов,
				но и снижает болезненность процесса заживления, снимает воспаление и препятствует формированию
				рубцовой ткани на месте повреждения.
				<br/>
				<br/>
				Применение стерильного коллагенового биоматериала КОЛЛОСТ<sup>®</sup> позволяет закрывать покровные
				дефекты различной глубины и степени сложности. КОЛЛОСТ<sup>®</sup> благодаря сохраненной структуре
				коллагенового волокна, способствует быстрому и эффективному росту полноценной ткани на месте
				дефекта. Сам КОЛЛОСТ<sup>®</sup> выступает в качестве матрицы для роста новой ткани: фибробласты,
				кровеносные и лимфатические сосуды, нервные волокна из окружающей здоровой ткани, внедряясь в
				коллагеновую матрицу, распространяются строго по ней.
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			{#<div class="block-5-subtitle">#}
			{#КОЛЛОСТ<sup>®</sup> может применяться <br />#}
			{#для терапии следующих заболеваний:#}
			{#<br />#}
			{#<img src="{{ asset('bundles/vidalmain/images/collost/white-line.png') }}" style="margin-left: 10px">#}
			{#<br />#}
			{#<br />#}
			{#</div>#}
			<div class="block-4-text sized" style="text-align: left; line-height: 24px">
				•&nbsp;&nbsp;&nbsp;&nbsp;Сокращение сроков лечения пролежней в 1,5-2 раза<br/>
				•&nbsp;&nbsp;&nbsp;&nbsp;Значительное уменьшение боли и воспалительного процесса<br/>
				•&nbsp;&nbsp;&nbsp;&nbsp;Перевязки выполняются через 5-7 дней<br/>
				•&nbsp;&nbsp;&nbsp;&nbsp;Происходит образование полноценных покровных тканей<br/>
				•&nbsp;&nbsp;&nbsp;&nbsp;Возможность раннего начала реабилитации основного заболевания<br/>
				•&nbsp;&nbsp;&nbsp;&nbsp;Рецидивов после лечения коллагеновым материалом КОЛЛОСТ<sup>®</sup> не
				отмечается<br/>
				•&nbsp;&nbsp;&nbsp;&nbsp;Доступная стоимость биоматериала<br/>
				•&nbsp;&nbsp;&nbsp;&nbsp;Простота использования<br/>
				•&nbsp;&nbsp;&nbsp;&nbsp;Наличие различных форм (мембраны, порошок, жгут, пломбы, гель 7% и 15%)<br/>
			</div>
		</div>
	</div>
	</div>
	</div>
	</noindex>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style>
		@font-face {
			font-family: RotonReg; /* Имя шрифта */
			src:         url("{{ asset('bundles/vidalmain/fonts/collost/RotonReg.ttf') }}");
		}
		@font-face {
			font-family: RotonBol; /* Имя шрифта */
			src:         url("{{ asset('bundles/vidalmain/fonts/collost/RotonBol.ttf') }}");
		}
		.pages * {
			font-family: RotonReg;
		}
		.block-1 {
			background: url("{{ asset('bundles/vidalmain/images/collost/gradient.png') }}");
			height:     344px;
		}
		.block-1-title {
			color:       #e41a24;
			font-size:   75px;
			font-weight: 400;
			width:       303px;
			height:      53px;
		}
		.block-1-text {
			color:       #90979f;
			font-size:   19px;
			font-weight: 700;
			width:       470px;
			height:      38px;
		}
		.block-2 {
			height:     420px;
			background: #3f97b7;
			background: url('{{ asset('bundles/vidalmain/images/collost/bg-2.png') }}');
		}
		.block-3 {
			height:     600px;
			background: url('{{ asset('bundles/vidalmain/images/collost/bg.png') }}');
		}
		.icon-text {
			color:       #8edbf7;
			font-size:   22px;
			font-weight: 700;
			text-align:  center;
			margin-top:  20px;
		}
		.block-2-title {
			/* Встроенный стиль */
			color:       #fefefe;
			font-size:   22px; /* Приближение из-за подстановки шрифтов */
			font-weight: 700;
			width:       294px;
			height:      18px;
			padding-top: 20px;
		}
		.wrapper {
			width: 1200px;
		}
		.block-3-title {
			color:       #2d5675;
			font-size:   24px;
			font-weight: 700;
			/*transform: scale(1.147,1.147);*/
			text-align:  center;
			padding-top: 20px;
		}
		.block-4 {
			background-color: #78abbe;
			padding-bottom:   20px;
		}
		.block-4-title {
			color:       #fefeff;
			font-size:   24px;
			font-weight: 700;
			text-align:  center;
			padding-top: 20px;
		}
		.block-4-text {
			margin:      0 auto;
			text-align:  center;
			color:       #ffffff;
			font-size:   14px;
			font-weight: 700;
			width:       921px;
			height:      109px;
		}
		.block-4-subtitle {
			color:       #ffffff;
			font-size:   24px;
			font-weight: 700;
		}
		.block-4-subtext {
			color:       #ffffff;
			font-size:   14px;
			font-weight: 700;
			text-align:  justify;
		}
		.block-5 {
			background: url('{{ asset('bundles/vidalmain/images/collost/bg-3.png') }}');
			height:     728px;
		}
		.block-5-title {
			color:       #78abbe;
			font-size:   24px;
			font-weight: 700;
			text-align:  center;
		}
		.block-5-subtitle {
			color:       #ffffff;
			font-size:   24px;
			font-weight: 700;
			text-align:  left;
		}
		.curves {
			position: absolute;
			top:      -350px;
			left:     0;
		}
		.slider {
			position: relative;
			width:    900px;
			margin:   0 auto;
			overflow: hidden;
			height:   485px;
		}
		.slider-box {
			width:  5400px;
			margin: 0 auto;
			height: 400px;
		}
		.slider-item {
			width:          860px;
			padding:        20px;
			display:        inline-block;
			vertical-align: top;
		}
		.slider-item-img {
			width: 60%;
		}
		.slider-item-img img {
			max-width:  350px;
			max-height: 350px;
		}
		.slider-item-text {
			width:          40%;
			padding-left:   20px;
			color:          #2d5675;
			font-size:      20px;
			font-weight:    400;
			vertical-align: top;
		}
		.btn-circle {
			display:    inline;
			padding:    7px;
			background: url('/bundles/vidalmain/images/collost/ellipse.png') no-repeat;
			margin:     5px;
			cursor:     pointer;
		}
		.mini-buttons {
			text-align: center;
			margin-top: 15px;
		}
		#circle-1 {
			background: url('/bundles/vidalmain/images/collost/ellipse-act.png') no-repeat;
		}
		.lbtn {
			position: absolute;
			left:     20px;
			width:    42px;
			top:      150px;
			cursor:   pointer;
		}
		.rbtn {
			position: absolute;
			right:    20px;
			width:    42px;
			top:      150px;
			cursor:   pointer;
		}
		.sized {
			font-size: 15px !important;
		}
	</style>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			var timer;

			function timer() {
				clearInterval(timer);
				timer = setInterval(function() {
					var item = $('.slider-item').eq(0);
					item.animate({marginLeft: -900}, 300, function() {
						$('.slider-box').append(item);
					});
					item.animate({marginLeft: 0}, 1);
					$('.btn-circle').css('background-image', "url('/bundles/vidalmain/images/collost/ellipse.png')");
					$('#circle-' + $('.slider-item').eq(1).attr('data')).css('background-image', "url('/bundles/vidalmain/images/collost/ellipse-act.png')");
				}, 7000);
			}

			timer();

			$('.btn-circle').click(function() {
				var i = 0;
				while (true) {
					i++;
					var currentItem = $('.slider-item').eq(0).attr('data');
					var thisItem = $(this).attr('data');
					var tmpItem = thisItem - currentItem;
					if (tmpItem != 0) {
						if (tmpItem > 0) {
							var item = $('.slider-item').eq(0);
							item.animate({marginLeft: -900}, 0, function() {
								$('.slider-box').append(item);
							});
							item.animate({marginLeft: 0}, 1);
							$('.btn-circle').css('background-image', "url('/bundles/vidalmain/images/collost/ellipse.png')");
							$('#circle-' + $('.slider-item').eq(0).attr('data')).css('background-image', "url('/bundles/vidalmain/images/collost/ellipse-act.png')");
						} else {
							var item = $('.slider-item').eq(4);
							$('.slider-box').prepend(item);
							item.animate({marginLeft: -900}, 0);
							item.animate({marginLeft: 0}, 0);

							$('.btn-circle').css('background-image', "url('/bundles/vidalmain/images/collost/ellipse.png')");
							$('#circle-' + $('.slider-item').eq(0).attr('data')).css('background-image', "url('/bundles/vidalmain/images/collost/ellipse-act.png')");
						}
					} else {
						timer();
						return true;
					}
					if (i > 10) return true;
				}

			});

			$('.rbtn').click(function() {
				var item = $('.slider-item').eq(0);
				item.animate({marginLeft: -900}, 0, function() {
					$('.slider-box').append(item);
				});
				item.animate({marginLeft: 0}, 1);
				$('.btn-circle').css('background-image', "url('/bundles/vidalmain/images/collost/ellipse.png')");
				$('#circle-' + $('.slider-item').eq(0).attr('data')).css('background-image', "url('/bundles/vidalmain/images/collost/ellipse-act.png')");
			});

			$('.lbtn').click(function() {
				var item = $('.slider-item').eq(4);
				$('.slider-box').prepend(item);
				item.animate({marginLeft: -900}, 0);
				item.animate({marginLeft: 0}, 0);

				$('.btn-circle').css('background-image', "url('/bundles/vidalmain/images/collost/ellipse.png')");
				$('#circle-' + $('.slider-item').eq(0).attr('data')).css('background-image', "url('/bundles/vidalmain/images/collost/ellipse-act.png')");
			});

		});
	</script>
{% endblock %}