{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% set loz = asset('bundles/vidalmain/images/g2.gif') %}
{% set Composition = product is defined ? product.Composition|composition : document.CompiledComposition|composition %}
{% set isDoctor = is_granted('IS_AUTHENTICATED_REMEMBERED') %}


{% if product is defined and product.isBadMi() %}
	{% set Composition = document is defined and document is not empty ? document.CompiledComposition : product.Composition %}
{% endif %}


{% block meta %}
	{{ parent() }}
	<meta property="og:image" content="http://www.vidal.ru/bundles/vidalmain/images/share/vidal.jpg">
	<meta content="{{ ogTitle }}" property="og:title">
	<meta content="{{ description }}" property="og:description">
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('index') }}" itemprop="url">
				<span itemprop="title">Видаль</span>
			</a>
		</div>
		<i></i>

		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('products', {'t':'b'}) }}" itemprop="url">
				<span itemprop="title">{{ isMI is defined ? 'Медицинские изделия' : 'БАД' }}</span>
			</a>
		</div>
		<i></i>

		<span>{{ product.RusName|raw }}</span>
	</div>
{% endblock %}


{% block vidal %}
	<div class="schema" itemscope itemtype="http://schema.org/Article">
		<h1 itemprop="name">{{ product.RusName|raw }} ({{ product.EngName|raw }}) инструкция по применению</h1>

		{% include 'VidalMainBundle::share.html.twig' with {'subtitle':'Лекарственные препараты, БАД, МИ', 'class':'Product', 'id':product.id} %}

		{# ссылка админу на редактирование #}
		{% if isAdmin %}
			<a class="admin-edit fade" target="_blank"
			   href="{{ product is defined
			   ? path('admin_vidal_drug_product_edit', {'id':product.ProductID})
			   : path('admin_vidal_drug_document_edit', {'id':document.DocumentID}) }}">
				<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
			</a>
		{% endif %}

		{# Изображения препарата #}
		{% if not product.hidePhoto %}
			{% if product.photo or product.photo2 or product.photo3 or product.photo4 %}
				<div class="pictures block">
					{% if product.photo %}
						<a href="{{ product.photo.path }}" target="_blank">
							<img src="{{ product.photo.path }}" alt="{{ img_alt_title|raw }}"
								 title="{{ img_alt_title|raw }}"/>
						</a>
					{% endif %}
					{% if product.photo2 %}
						<a href="{{ product.photo2.path }}" target="_blank">
							<img src="{{ product.photo2.path }}" alt="{{ img_alt_title|raw }}"
								 title="{{ img_alt_title|raw }}"/>
						</a>
					{% endif %}
					{% if product.photo3 %}
						<a href="{{ product.photo3.path }}" target="_blank">
							<img src="{{ product.photo3.path }}" alt="{{ img_alt_title|raw }}"
								 title="{{ img_alt_title|raw }}"/>
						</a>
					{% endif %}
					{% if product.photo4 %}
						<a href="{{ product.photo4.path }}" target="_blank">
							<img src="{{ product.photo4.path }}" alt="{{ img_alt_title|raw }}"
								 title="{{ img_alt_title|raw }}"/>
						</a>
					{% endif %}
				</div>
			{% elseif product.pictures is not empty %}
				<div class="pictures block">
					{% for picture in product.pictures|split('|') %}
						{% set path = '/upload/products/' ~ picture %}
						{% if is_file(path) %}
							<a href="{{ path }}" target="_blank">
								<img src="{{ path }}" alt="{{ img_alt_title|raw }}" title="{{ img_alt_title|raw }}"/>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}

		{% if document is defined and document is not empty %}
			{% include 'VidalDrugBundle:Vidal:bad_document_about.html.twig' %}
			{% include 'VidalDrugBundle:Vidal:bad_document_navigation.html.twig' %}
		{% endif %}

		<div itemprop="articleBody">
			{# Блок регистратора/владельца/представительства #}
			{% if owners is defined or distributors is defined or infoPages is defined %}
				<div class="block firms">
					{# Владелец регистрационного удостоверения #}
					{% if owners is defined and owners is not empty %}
						{% set owner = owners[0] %}
						<div class="owners">
							<span class="block-head">Владелец регистрационного удостоверения:</span><br/>
							<a href="{{ path('firm_item', {'CompanyID':owner.CompanyID}) }}" class="no-underline">
								{{ owner.LocalName|raw }}{{ owner.Property is not empty ? ', ' ~ owner.Property|raw|replace({'&amp;':'&'}) }}</a>
							{% if owner.Country is not empty and owner.Country != 'Unknown' %}
								<span class="small">({{ owner.Country }})</span>
							{% endif %}
						</div>
					{% endif %}

					{# Произведено #}
					{% if distributors is defined and distributors is not empty %}
						{% set groupedCompanies = groupCompanies(distributors) %}

						{% for note, listCompanies in groupedCompanies %}
							<div class="distributor">
								{% if note is not empty %}
									<span class="block-head">{{ note|upperFirst }}:</span><br/>
								{% endif %}
								{% for company in listCompanies %}
									{% if loop.index > 1 %}или{% endif %}
									<a class="no-underline"
									   href="{{ path('firm_item', {'CompanyID':company.CompanyID}) }}">
										{{ company.LocalName|raw }}
									</a>
									{% if company.Country is not empty and company.Country != 'Unknown' %}
										<span class="small">({{ company.Country }})</span>
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					{% endif %}

					{# Представительство #}
					{% if infoPages is defined and infoPages is not empty %}
						<div class="infoPages">
							<span class="block-head">Представительство:</span><br/>
							{% for infoPage in infoPages %}
								{% if loop.index > 1 %}<br/>{% endif %}
								<a href="{{ path('inf_item', {'InfoPageID':infoPage.InfoPageID}) }}"
								   class="no-underline">
									{{ infoPage.RusName|raw }}</a>
								{% if infoPage.Country and infoPage.Country != 'Unknown' %}
									<span class="small">({{ infoPage.Country }})</span>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endif %}

			{# Лекарственная форма #}
			<div class="block">
				<div class="block-head">Лекарственная форма</div>

				<div class="block-content">
					<table class="products-table" id="products">
						<tr>
							<td class="products-table-loz">
								{% if product.ProductTypeCode is defined and product.ProductTypeCode == 'BAD' %}
									<span class="bads" title="Биологически активные добавки">БАД</span>
								{% elseif product.ProductTypeCode is defined and product.ProductTypeCode == 'MI' %}
									<span class="bads" title="Медицинские издения">МИ</span>
								{% elseif product.NonPrescriptionDrug %}
									<img src="{{ asset('bundles/vidalmain/images/g2.gif') }}"
										 title="Препарат разрешен к применению в качестве средств безрецептурного отпуска"/>
								{% else %}
									<img src="{{ asset('bundles/vidalmain/images/g3.gif') }}"
										 title="Препарат отпускается по рецепту"/>
								{% endif %}
							</td>
							<td class="products-table-name">
								{{ product.RusName|raw }}
							</td>
							<td class="products-table-zip" style="max-width:inherit">
								<div>{{ product.ZipInfo }}</div>
								<span>рег. №: {{ product.RegistrationNumber }}
									{% if product.RegistrationDate is not empty %}
										от {{ product.RegistrationDate }}
									{% endif %}
									{% if product.MarketStatusID %}
										<i>- {{ product.MarketStatusID }}</i>
									{% endif %}
						</span>
							</td>
						</tr>
					</table>

					{# Состав #}
					{% if Composition is not empty %}
						<div class="bad-composition">
							{{ Composition|replace({
								'[PRING]':'<i class"pring">Вспомогательные вещества</i>:',
								'&loz;':'<img class="loz" src="'~loz~'" title="Препарат разрешен к применению в качестве средств безрецептурного отпуска"/>'
							})|raw }}
						</div>
					{% endif %}
				</div>
			</div>

			{# блоки описания документа #}
			{% if document is defined %}
				{% include 'VidalDrugBundle:Vidal:bad_document_info.html.twig' %}
			{% endif %}
		</div>
	</div>

	{# прикрепленные материалы #}
	<div id="documents_of_product"></div>
	{#{% include 'VidalMainBundle:Article:documents_of_product.html.twig' with {'object':product, 'label':'препарату', 'item':product.RusName} %}#}

	{# блок горизонтального яндекс-директа #}
	{% include 'VidalMainBundle:Banners:new_banners_mobile.html.twig' %}
	{% include 'VidalMainBundle::yad_horizontal.html.twig' %}

	{# блок получения ссылки #}
	{% if product is defined or document is defined %}
		{% include 'VidalDrugBundle:Vidal:document_get_link.html.twig' %}
	{% endif %}

	{# поп-ап неавторизованным #}
	{% if not isDoctor %}
		{% include 'VidalMainBundle:Auth:login_popup.html.twig' %}
	{% endif %}


{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/share.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/fancybox/source/jquery.fancybox.css') }}"/>
	<style type="text/css">
		#dosage p img {
			max-width:  600px;
			max-height: 400px;
		}
		.market-block {
			width: 100%;
		}
		.market-block table tr td {
			font-size: 14px;
			padding:   5px 0;
		}
		.market-block table {
			width: 100%;
		}
		.market-price {
			width:      60px;
			text-align: right;
		}
		.market-basket {
			width:      80px;
			text-align: right;
		}
		.market-title {
			text-transform: uppercase;
			color:          #D71344;
			padding:        5px 0;
		}
		.market-organization {
			width: 180px;
		}
		.mkb {
			margin-top: 6px;
		}
		.mkb .products-table {
			display: none;
		}
		.portfolio-link {
			display:     inline-block;
			background:  #eee;
			font-weight: bold;
			padding:     1px 1px 0 10px;
			border:      2px solid #ddd;
		}
		.portfolio-link > span {
			display:        inline-block;
			vertical-align: top;
			margin:         7px 5px 0 0;
		}
		.portfolio-link:hover {
			border: 2px solid #bbb;
		}
		.pictures a {
			display: inline-block;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/fancybox/source/jquery.fancybox.js') }}"></script>
	<script type="text/javascript"
			src="{{ asset('bundles/vidalmain/placeholder/jquery.placeholder.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/jquery.form.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.copy textarea')
				.focus(function() { $(this).css('opacity', '1'); })
				.blur(function() { $(this).css('opacity', '0.5'); });

			$('.mkb-show').click(function() {
				$('.mkb .products-table').show();
				$(this).hide();
				return false;
			});

			{% if not isDoctor %}
			$('.closed-link').click(function() {
				$('.closed-info').slideDown();
				return false;
			});
			{% endif %}

			setTimeout(function() {
				var url = Routing.generate('documents_of_product', {'ProductID':{{ product.ProductID }}});
				$.getJSON(url, function(html) {
					$('#documents_of_product').html(html);
				});
			}, 500);

			$('.schema img').each(function() {
				$(this).attr({
					itemprop: "image"
				});
			});

			$('.schema a').each(function() {
				var $a = $(this);
				$a.attr('itemprop', 'url');
				if (this.href.length
					&& this.href.charAt(0) != '/'
					&& this.href.indexOf('vidal.ru') === -1
					&& this.href.indexOf('localhost:97') === -1
				) {
					$a.attr('rel', 'nofollow');
				}
			});
		});
	</script>
{% endblock %}
