<table class="products-table">
	<tr class="products-table-header">
		<td>Активное вещ-во</td>
		<td width="15%" title="Международное непатентованное наименование (МНН)">МНН</td>
		<td width="15%">Входит в состав препаратов</td>
	</tr>
	{% for molecule in molecules %}
		<tr>
			<td class="molecule-name">
				<a href="{{ path('molecule', {'MoleculeID':molecule.MoleculeID}) }}"
				   class="no-underline">{{ molecule.RusName|raw }}</a>
				<span>({{ molecule.LatName|raw }})</span>
			</td>
			<td><a title="Международное непатентованное наименование (МНН)" href="{{ path('gnp') }}"
				   class="no-underline">{{ molecule.GNParent }}</a></td>
			<td><a href="{{ path('molecule_included', {'MoleculeID':molecule.MoleculeID}) }}"
				   class="no-underline">список</a></td>
		</tr>
	{% endfor %}
</table>