{% extends 'VidalMainBundle::layout_promo.html.twig' %}


{#{% block nav %}#}
	{#<div class="breadcrumbs">#}
		{#<a href="{{ path('index') }}">Видаль</a>#}
		{#<i></i>#}
		{#<a href="{{ path('news') }}">Новости</a>#}
	{#</div>#}
{#{% endblock %}#}

{% block title %}
    <h1>Школа гастрита</h1>
{% endblock %}


{% block content %}
    <div class="menu-drugs">
        <div class="tabs" style="width: 520px">
            <table style="width: 100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 15%; text-align: center;">
                        <a href="{{ path('astrazeneca_index') }}" >Главная</a>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <a href="{{ path('astrazeneca_video') }}">Видео</a>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <a href="{{ path('astrazeneca_news') }}" class="active">Статьи</a>
                    </td>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_faq') }}">Консультация</a>
                    </td>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_testing') }}" >Тестирование</a>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <a href="{{ path('astrazeneca_map') }}" >Карта</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h1>
        {{ publication.title |raw }}

        {# админу карандашик на правку #}
        {% if isAdmin %}
            <a class="admin-edit fade" target="_blank"
               href="{{ path('admin_vidal_main_astrazenecanew_edit', {'id':publication.id}) }}">
                <img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
            </a>
        {% endif %}
    </h1>

	<div class="publication">

		<div class="publication-body"  style="font-family: sans-serif !important;">
			{{ publication.body|raw }}
		</div>
        <br />
        <br />
        Для профилактики гастрита, рекомендуем Вам проконсультироваться со специалистом. Найти специалиста рядом с Вами Вы можете с помощью
        <a href="{{ path('astrazeneca_map') }}">нашей карты</a>

		<div class="publication-footer">
			{#<span class="publication-date">{{ publication.created|date('d.m.Y') }}</span>#}
		</div>
	</div>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
        .content .active{
            background: #d71344 !important;
        }
        .tabs{
            background: url("{{ asset('bundles/vidalmain/images/bg-menu.png') }}");
        }
        .tabs a:hover{
            background: url("{{ asset('bundles/vidalmain/images/bg-menu2.png') }}");
        }
		.publication {
			font-size: 15px;
			position:  relative;
		}
		.publication-body p:first-child {
			margin-top: 0;
		}
		.publication-header {
			margin-bottom: 20px;
			overflow:      hidden;
		}
		.publication-header .photo {
			display:    inline-block;
			float:      left;
			margin-top: 2px;
		}
		.publication-header .photo img {
			max-width: 185px;
		}
		.publication-header.with-photo .publication-announce {
			margin-left: 205px;
		}
		.publication-footer {
			overflow: hidden;
		}
		.publication-date {
			display:    inline-block;
			float:      right;
			text-align: right;
			font-size:  13px;
			font-style: italic;
			color:      gray;
		}
        .tabs a{
            display: block;
            text-align: center;
            padding: 7px 0;
        }
	</style>
{% endblock %}
