{% extends 'VidalMainBundle::layout_promo.html.twig' %}

{% block title %}
    <h1>Школа гастрита</h1>
{% endblock %}


{#{% block nav %}#}
    {#<div class="breadcrumbs">#}
        {#<a href="{{ path('index') }}">Видаль</a>#}
        {#<i></i>#}
        {#<a href="{{ path('astrazeneca_index') }}">astraZeneca</a>#}
        {#<i></i>#}
        {#<span>Новости</span>#}
    {#</div>#}
{#{% endblock %}#}


{% block content %}
    <div class="menu-drugs">
        <div class="tabs" style="width: 520px">
            <table style="width: 100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 15%; text-align: center;">
                        <a href="{{ path('astrazeneca_index') }}" >Главная</a>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <a href="{{ path('astrazeneca_video') }}">Видео</a>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <a href="{{ path('astrazeneca_news') }}" class="active">Статьи</a>
                    </td>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_faq') }}">Консультация</a>
                    </td>
                    <td style="width: 20%; text-align: center;">
                        <a href="{{ path('astrazeneca_testing') }}" >Тестирование</a>
                    </td>
                    <td style="width: 15%; text-align: center;">
                        <a href="{{ path('astrazeneca_map') }}" >Карта</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="news">
        {% for publication in publications %}
            {#{% set withPhoto = publication.photo and is_file(publication.photo.path) %}#}
            <div class="publication">
                {# админам карандашик редактирования #}
				{% if isAdmin %}
					<a class="admin-edit fade" target="_blank"
					   href="{{ path('admin_vidal_main_astrazenecanew_edit', {'id':publication.id}) }}">
						<img src="{{ asset('bundles/vidalmain/images/edit.png') }}"/>
					</a>
				{% endif %}
                <div>
                    <div class="publication-title" style="font-family: sans-serif !important;">
                        <a href="{{ path('astrazeneca_new', {'newId':publication.id}) }}">{{ publication.title|raw }}</a>
                    </div>
                    <div class="publication-anos" style="font-family: sans-serif !important;">
                        <a href="{{ path('astrazeneca_new', {'newId':publication.id}) }}">{{ publication.anons|raw }}</a>
                    </div>
                    {#<div class="publication-announce">#}
                        {#{{ publication.announce|raw }}#}
                    {#</div>#}
                    {#<div class="publication-footer">#}
                        {#<div class="publication-date">#}
                            {#{{ publication.date|date('d.m.Y') }}#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
    <style>
		.content .active{
            background: #d71344 !important;
        }
        .tabs{
            background: url("{{ asset('bundles/vidalmain/images/bg-menu.png') }}");
        }
        .tabs a:hover{
            background: url("{{ asset('bundles/vidalmain/images/bg-menu2.png') }}");
        }
        .tabs a{
            display: block;
            text-align: center;
            padding: 7px 0;
        }
        .publication-anos a{
            color: #222222;
            text-decoration: none;
        }
    </style>
{% endblock %}
