<a href="https://www.vidal.ru/unsubscribe-digest/{{ user.id }}/{{ user.created }}">этой ссылке</a>.

<img src="https://www.google-analytics.com/collect?v=1&tid=UA-45285788-1&cid={{ user.id }}&t=event&ec=delivery-4&ea=open&el=recipient_id&cs=newsletter&cm=email&cn=delivery_remedis"/>
<img src="https://www.vidal.ru/delivery/opened/{{ delivery.name }}/{{ user.id }}?guid={{ random() }}"/>

</td>
</tr>
</table>

</body>
</html>