{% extends 'VidalMainBundle::layout.html.twig' %}

{% block content %}
    <h1>Корзина</h1>

    {% if products.eapteka is defined %}
		{% include 'VidalMainBundle:Market:apteka_eapteka.html.twig' %}
        <table class="basket-table">
            <tr>
                <th>Наименование</th>
                <th>Производитель</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th></th>
            </tr>
            {% for drug in products.eapteka  %}
                <tr>
                    <td class="basket-title">{{ drug.title }}</td>
                    <td class="basket-org">{{ drug.manufacturer }}</td>
                    <td class="basket-price">{{ drug.price |number_format(2, '.', ',') }}&nbsp;р.</td>
                    <td class="basket-count">
                        <input type="text" id="{{ drug.code }}" class="inp" value="{{ drug.count }}">
                    </td>
                    <td class="basket-summa"><span class="summa-ajax" id="sum_{{ drug.code }}">{{ ( drug.count * drug.price ) |number_format(2, '.', ',') }}</span>&nbsp;р.</td>
                    <td class="basket-remove"><a href="{{ path('remove_to_basket',{ 'code' : drug.code }) }}">x</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td class="basket-itogo" colspan="6">
                    Общая сумма: <span> {{ amounts.eapteka |number_format(2, '.', ',') }}&nbsp;р.</span>
                </td>
            </tr>
            <tr>
                <td class="basket-submit" colspan="6">
                    <a href="{{ path('basket_order',{ group : 'eapteka' }) }}" class="btn-red">Оформить заказ</a>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
    {% endif %}
    {% if products.piluli is defined %}
		{% include 'VidalMainBundle:Market:apteka_piluli.html.twig' %}
        <table class="basket-table">
            <tr>
                <th>Наименование</th>
                <th>Производитель</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th></th>
            </tr>
            {% for drug in products.piluli  %}
                <tr>
                    <td class="basket-title">{{ drug.title }}</td>
                    <td class="basket-org">{{ drug.manufacturer }}</td>
                    <td class="basket-price">{{ drug.price |number_format(2, '.', ',') }}&nbsp;р.</td>
                    <td class="basket-count">
                        <input type="text" id="{{ drug.code }}" class="inp" value="{{ drug.count }}">
                    </td>
                    <td class="basket-summa"><span class="summa-ajax" id="sum_{{ drug.code }}">{{ ( drug.count * drug.price ) |number_format(2, '.', ',') }}</span>&nbsp;р.</td>
                    <td class="basket-remove"><a href="{{ path('remove_to_basket',{ 'code' : drug.code }) }}">x</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td class="basket-itogo" colspan="6">
                    Общая сумма: <span> {{ amounts.piluli |number_format(2, '.', ',') }}&nbsp;р.</span>
                </td>
            </tr>
            <tr>
                <td class="basket-submit" colspan="6">
                    <a href="{{ path('basket_order',{ group : 'piluli' }) }}" class="btn-red">Оформить заказ</a>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
    {% endif %}
    {% if products.zdravzona is defined %}
		{% include 'VidalMainBundle:Market:apteka_zdravzona.html.twig' %}
        <table class="basket-table">
            <tr>
                <th>Наименование</th>
                <th>Производитель</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th></th>
            </tr>
            {% for drug in products.zdravzona  %}
                <tr>
                    <td class="basket-title">{{ drug.title }}</td>
                    <td class="basket-org">{{ drug.manufacturer }}</td>
                    <td class="basket-price">{{ drug.price |number_format(2, '.', ',') }}&nbsp;р.</td>
                    <td class="basket-count">
                        <input type="text" id="{{ drug.code }}" class="inp" value="{{ drug.count }}">
                    </td>
                    <td class="basket-summa"><span class="summa-ajax" id="sum_{{ drug.code }}">{{ ( drug.count * drug.price ) |number_format(2, '.', ',') }}</span>&nbsp;р.</td>
                    <td class="basket-remove"><a href="{{ path('remove_to_basket',{ 'code' : drug.code }) }}">x</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td class="basket-itogo" colspan="6">
                    Общая сумма: <span> {{ amounts.zdravzona |number_format(2, '.', ',') }}&nbsp;р.</span>
                </td>
            </tr>
            <tr>
                <td class="basket-submit" colspan="6">
                    <a href="{{ path('basket_order',{ group : 'zdravzona' }) }}" class="btn-red">Оформить заказ</a>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
    {% endif %}

    {% if products.wer is defined %}
		{% include 'VidalMainBundle:Market:apteka_wer.html.twig' %}
        <table class="basket-table">
            <tr>
                <th>Наименование</th>
                <th>Производитель</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th></th>
            </tr>
            {% for drug in products.wer %}
                <tr>
                    <td class="basket-title">{{ drug.title }}</td>
                    <td class="basket-org">{{ drug.manufacturer }}</td>
                    <td class="basket-price">{{ drug.price |number_format(2, '.', ',') }}&nbsp;р.</td>
                    <td class="basket-count">
                        <input type="text" id="{{ drug.code }}" class="inp" value="{{ drug.count }}">
                    </td>
                    <td class="basket-summa"><span class="summa-ajax" id="sum_{{ drug.code }}">{{ ( drug.count * drug.price ) |number_format(2, '.', ',') }}</span>&nbsp;р.</td>
                    <td class="baskremove"><a href="{{ path('remove_to_basket',{ 'code' : drug.code }) }}">x</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td class="basket-itogo" colspan="6">
                    Общая сумма: <span> {{ amounts.wer |number_format(2, '.', ',') }}&nbsp;р.</span>
                </td>
            </tr>
            <tr>
                <td class="basket-submit" colspan="6">
                    <a href="{{ path('basket_order',{ group : 'wer' }) }}" class="btn-red">Оформить заказ</a>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.basket-count').children('input').change(function(){
                var code = $(this).attr('id');
                var count = $(this).val();
                console.log($(this));
                $.ajax({
                    type: "GET",
                    url: Routing.generate('set_to_basket_ajax',{'code' : code, 'count' : count }),
                    success: function(msg){
                        msg = msg.split('|');
                        $('#sum_'+code).html(msg[0]);
                        $('.basket-itogo').eq(0).children('span').html(msg[1]+'&nbsp;р.');
                        $('.basket-itogo').eq(1).children('span').html(msg[2]+'&nbsp;р.');
                        $('.basket-itogo').eq(2).children('span').html(msg[3]+'&nbsp;р.');

                    }
                });
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/vidalmain/stylesheets/market.css') }}"/>
    <style>
        .basket-count input{
            width: 30px;
            text-align: center;
        }
        .basket-otg{
            width: 150px;
        }
        .basket-table tr td{
            padding: 5px ;
            border-bottom: 1px solid #CCCCCC;
        }
        .basket-table tr th{
            padding: 10px ;
            border-bottom: 2px solid #D71344;
        }
        .basket-table caption{
            font-weight: bold;
            font-size: 20px;
            /*background: #D71344;*/
            background: #F5F5F5;
            color: #444444;
            /*color: #FFFFFF;*/
            padding: 5px;
        }
        .basket-itogo, .basket-submit{
            text-align: right;
            border-bottom: 0px !important;
        }
        .basket-itogo{
            color: #444444;
        }
        .basket-itogo span{
            font-size: 18px;
            font-weight: bold;
        }
        .basket-remove a{
            text-decoration: none;
        }
    </style>
{% endblock %}