<br />

<div class="popupMarket">
    <div style="padding-bottom: 10px">
    Товар добавлен в корзину
    </div>
    <a class="submit btn-red market-btn" href="{{  path('basket_list') }}" style="font-weight: bold;">перейти в корзину</a>
</div>

<div class="conditions">
    <h1 class="market-btn" style="cursor: pointer; text-decoration: underline; display: inline">Показать цены онлайн аптек </h1>
    <a class="submit btn-red market-btn" href="#market-block" style="float: right; font-weight: bold;">Где купить</a>
</div>
<div class="market-block" id="market-block">
    <div class="market-block-box" id="market-block-box"  style="display: none">
        {#{{ dump(lists.eapteka) }}#}
        {% if lists.wer is defined %}
			{% include 'VidalMainBundle:Market:apteka_wer.html.twig' %}
            <table>
                {% for drug in lists.wer %}
                    <tr>
                        <td class="market-organization">{{ drug.manufacturer }}</td>
                        <td>{{ drug.title }}</td>
                        <td class="market-price">{{ drug.price }}&nbsp;р.</td>
                        <td class="market-basket"><a href="{{ path('add_to_basket', { 'code' : drug.code , 'count' : 1 }) }}" data-id="100" data-group="wer">В корзину</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if lists.eapteka is defined %}
			{% include 'VidalMainBundle:Market:apteka_eapteka.html.twig' %}
            <table>
                {% for drug in lists.eapteka %}
                    <tr>
                        <td class="market-organization">{{ drug.manufacturer }}</td>
                        <td>{{ drug.title }}</td>
                        <td class="market-price">{{ drug.price }}&nbsp;р.</td>
                        <td class="market-basket"><a href="{{ path('add_to_basket', { 'code' : drug.code , 'count' : 1 }) }}" data-id="100" data-group="eapteka">В корзину</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if lists.piluli is defined %}
			{% include 'VidalMainBundle:Market:apteka_piluli.html.twig' %}
            <table>
                {% for drug in lists.piluli %}
                    <tr>
                        <td class="market-organization">{{ drug.manufacturer }}</td>
                        <td>{{ drug.title }}</td>
                        <td class="market-price">{{ drug.price }}&nbsp;р.</td>
                        <td class="market-basket"><a href="{{ path('add_to_basket', { 'code' : drug.code , 'count' : 1 }) }}" data-id="100" data-group="eapteka">В корзину</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if lists.zdravzona is defined %}
			{% include 'VidalMainBundle:Market:apteka_zdravzona.html.twig' %}
            <table>
                {% for drug in lists.zdravzona %}
                    <tr>
                        <td class="market-organization">{{ drug.manufacturer }}</td>
                        <td>{{ drug.title }}</td>
                        <td class="market-price">{{ drug.price }}&nbsp;р.</td>
                        <td class="market-basket"><a href="{{ path('add_to_basket', { 'code' : drug.code , 'count' : 1 }) }}" data-id="100" data-group="eapteka">В корзину</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.market-btn').click(function(){
            if ( $('.market-block-box').css('display') == 'none' ){
                $('.market-block-box').fadeIn();
            }else{
                $('.market-block-box').fadeOut();
            }
        });
//        alert(window.location.hash);
        if(window.location.hash == '#market-block') {
            $('.market-block-box').fadeIn();
        }

        if(window.location.hash == '#inbasket') {
                $('.popupMarket').fadeIn();
            setInterval(function(){
                $('.popupMarket').fadeOut();
            }, 2000);
        }

    });
</script>