{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>{{ title }}</h1>
{% endblock %}


{% block content %}
	{% for msg in app.session.flashBag.get('notice') %}
		<div class="thanks">
			<p>Данные для входа на сайт были отправлены на e-mail<br/>
				<span class="e-mail">{{ msg }}</span>
			</p>
		</div>
	{% else %}
		<form id="credentials_form" action="{{ path('credentials') }}" method="post"
			  autocomplete="off" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		</form>
	{% endfor %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.e-mail {
			color:          maroon;
			font-weight:    bold;
			font-size:      18px;
		}
		.form_table td.label {
			vertical-align: top;
		}
	</style>
{% endblock %}
