{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>СМЕНА ПАРОЛЯ</h1>
{% endblock %}


{% block content %}
	{% if app.session.flashBag.get('notice')|length %}
		<div class="thanks">
			<p>Cмена пароля прошла успешно.</p>
			<p>Ваш новый пароль: <span class="new-password">{{ user.password }}</span></p>
		</div>
	{% else %}
		<form id="password_change_form" action="{{ path('password_change') }}" method="post"
			  autocomplete="off" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		</form>
	{% endif %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.new-password {
			color:          maroon;
			font-weight:    bold;
			font-size:      18px;
			letter-spacing: 1px;
			margin-left:    10px;
		}
	</style>
{% endblock %}
