<table class="products-table">
	<tr class="products-table-header">
		<td width="23%">Активное вещ-во</td>
		<td width="23%">Латинское</td>
		<td width="14%" title="Международное непатентованное наименование (МНН)">МНН</td>
		<td>Входит в состав препаратов</td>
	</tr>
	{% for molecule in molecules %}
		<tr>
			<td>
				<a href="{{ path('v_molecule', {'url':molecule.url}) }}"
				   class="no-underline">{{ molecule.RusName|raw }}</a>
			</td>
			<td>{{ molecule.LatName|raw }}</td>
			<td><a title="Международное непатентованное наименование (МНН)" href="{{ path('gnp') }}"
				   class="no-underline">{{ molecule.GNParent }}</a></td>
			<td><a href="{{ path('v_molecule_included', {'url':molecule.url}) }}"
				   class="no-underline">список</a></td>
		</tr>
	{% endfor %}
</table>