{% extends 'VidalVeterinarBundle::vidal_layout.html.twig' %}


{% block nav %}
	<div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
		<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="{{ path('index') }}" itemprop="item">
				<span itemprop="name">Видаль</span>
			</a>
			<meta itemprop="item" content="{{ path('index') }}">
			<meta itemprop="name" content="Видаль">
			<meta itemprop="position" content="1" />
		</span>

		<i></i>

		<span>Видаль-Ветеринар</span>
	</div>
{% endblock %}


{% block vidal %}
	{% if menu_veterinar is defined %}
		{% include 'VidalVeterinarBundle:Vidal:veterinar_menu.html.twig' %}
	{% endif %}

	{% include 'VidalVeterinarBundle:Vidal:search_form.html.twig' %}

	<div class="letters veterinar-letters">
		{% include 'VidalVeterinarBundle:Vidal:search_letters.html.twig' %}
	</div>

	<div class="veterinar-results">
		{% if products is not empty %}
			<div class="info-line">
				{% if l %}
					Найдено препаратов {{ l == 8 ? 'c цифры' : 'на букву' }} <i>{{ l }}</i>:
				{% else %}
					Найдено препаратов по запросу <i>{{ q }}</i>:
				{% endif %}
				<span>{{ products.totalItemCount }}</span>
			</div>
			{% include 'VidalVeterinarBundle:Vidal:render_products.html.twig' %}
			<div class="navigation">{{ knp_pagination_render(products) }}</div>
		{% else %}
			<div class="info-line">
				{% if l %}
					Не найдено препаратов {{ l == 8 ? 'c цифры' : 'на букву' }} <i>{{ l }}</i>
				{% else %}
					Не найдено препаратов по запросу <i>{{ q }}</i>
				{% endif %}
			</div>
		{% endif %}
	</div>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/letters.css') }}"/>
	<style type="text/css">
		{% if isMobile %}
		#veterinar_form {
			overflow: hidden;
		}
		.letters {
			padding-bottom: 0 !important;
			border-bottom: none !important;
		}
		{% endif %}
		.veterinar-letters {
			margin-top: 10px;
		}
		.veterinar-letters > div {
			overflow: hidden;
		}
		#veterinar_type {
			width: 195px;
		}
		#veterinar_input {
			width:       205px;
			margin-left: 8px;
		}
		#veterinar_submit {
			float: right;
		}
		.veterinar-about {
			font-size:   15px;
			margin-top:  22px;
			padding-top: 4px;
			border-top:  1px solid #e1e1e1;
		}
		.veterinar-about-2 {
			margin-top: 35px;
		}
		.companies a {
			text-decoration: none;
		}
		.companies a:hover {
			text-decoration: underline;
		}
	</style>
{% endblock %}