<div class="schema" itemscope itemtype="http://schema.org/Article">
	<div itemprop="articleBody">
		{{ render(controller('VidalMainBundle:Index:Module', {'moduleId':10})) }}
	</div>
</div>

<div class="tabs veterinar-menu" style="margin-top:12px">
	<a href="{{ path('veterinar') }}" {{ menu_veterinar == 'veterinar' ? 'class="active"' }}>Поиск</a><a
		href="{{ path('proizvoditeli') }}" {{ menu_veterinar == 'company' ? 'class="active"' }}>Производители</a><a
		href="{{ path('predstavitelstvo') }}" {{ menu_veterinar == 'infoPage' ? 'class="active"' }}>Представительства
		фирм</a><a href="{{ path('v_kfu') }}" {{ menu_veterinar == 'kfu' ? 'class="active"' }}
				   title="Клинико-фармакологические указатели">КФУ</a><a
		href="{{ path('veterinar_portfolios') }}" {{ menu_veterinar == 'portfolios' ? 'class="active"' }}
		title="Клинико-фармакологические указатели">Портфели препаратов</a>
</div>