<form id="form" method="GET" action="{{ path('atc') }}">

	<div id="form_controls">
		<input id="form_submit" type="submit" value="Найти" class="btn-red">
		<input id="form_input" type="text" name="q" placeholder="Введите слово для поиска..."
			   value="{{ q is defined and q is not empty and not l ? q }}"/>
	</div>

	<div class="letters">
		<div>
			<input type="submit" value="A" name="l" {{ l == 'A' ? ' class="active"' }}/>
			<input type="submit" value="B" name="l" {{ l == 'B' ? ' class="active"' }}/>
			<input type="submit" value="C" name="l" {{ l == 'C' ? ' class="active"' }}/>
			<input type="submit" value="D" name="l" {{ l == 'D' ? ' class="active"' }}/>
			<input type="submit" value="G" name="l" {{ l == 'G' ? ' class="active"' }}/>
			<input type="submit" value="H" name="l" {{ l == 'H' ? ' class="active"' }}/>
			<input type="submit" value="J" name="l" {{ l == 'J' ? ' class="active"' }}/>
			<input type="submit" value="L" name="l" {{ l == 'L' ? ' class="active"' }}/>
			<input type="submit" value="M" name="l" {{ l == 'M' ? ' class="active"' }}/>
			<input type="submit" value="N" name="l" {{ l == 'N' ? ' class="active"' }}/>
			<input type="submit" value="P" name="l" {{ l == 'P' ? ' class="active"' }}/>
			<input type="submit" value="R" name="l" {{ l == 'R' ? ' class="active"' }}/>
			<input type="submit" value="S" name="l" {{ l == 'S' ? ' class="active"' }}/>
			<input type="submit" value="V" name="l" {{ l == 'V' ? ' class="active"' }}/>
		</div>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		$('#form_input')
			.autocomplete({
				minLength: 2,
				source:    function(request, response) {
					var url = Routing.generate('elastic_autocomplete', {'type': 'atc', 'term': request.term.trim()});
					$.getJSON(url, function(data) {
						response($.map(data.hits.hits, function(item) {
							return {
								label: item.highlight.name,
								value: item._source.name,
								type:  item._source.type
							}
						}));
					});
				},
				select:    function(event, ui) {
					if (ui.item) {
						$(this).val(ui.item.value);
					}
				}
			})
			.data("ui-autocomplete")._renderItem = function(ul, item) {
			return $('<li class="aut"></li>')
				.data("item.autocomplete", item)
				.append("<a>" + item.label + "</a>")
				.appendTo(ul);
		};

		$('.letters input').click(function() {
			$('#form_input').attr('disabled', 'disabled');
		});
	});
</script>