{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block title %}
	<h1>{{ atc.RusName }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('index') }}" itemprop="url">
				<span itemprop="title">Видаль</span>
			</a>
		</div>
		<i></i>

		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('atc') }}" itemprop="url"
			   title="Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)">
				<span itemprop="title">АТX</span>
			</a>
		</div>
		<i></i>

		<span>{{ atc.ATCCode }}</span>
	</div>
{% endblock %}


{% block vidal %}
	<div class="anons">Анатомо-Терапевтически-Химическая (АТХ) система классификации (ATC)</div>

	<div class="block">
		<span class="block-head">АТХ код:</span>
		<span><b>{{ atc.ATCCode }}</b></span>
	</div>

	{% if atc.parent %}
		<div class="block">
			<span class="block-head">Входит в группу:</span>
			<a href="{{ path('atc', {'ATCCode':atc.parent.ATCCode}) }}#{{ atc.parent.ATCCode }}"
			   class="no-underline">{{ atc.parent.ATCCode }}</a> -
			<span>{{ atc.parent.RusName|raw }}</span>
		</div>
	{% endif %}

	<div class="block">
		<span class="block-head">Название:</span>
		<span>{{ atc.RusName }}</span>
	</div>

	{% if atc.EngName is not empty and atc.EngName != atc.RusName %}
		<div class="block">
			<span class="block-head">Латинское название:</span>
			<span>{{ atc.EngName }}</span>
		</div>
	{% endif %}

	{#{% include 'VidalMainBundle:Article:documents.html.twig' with {'object':atc, 'label':'коду АТХ', 'item':atc.ATCCode} %}#}

	{% if products is not empty %}
		<div class="block">
			<div class="block-head">Препараты группы</div>
		</div>
		{% include 'VidalDrugBundle:Vidal:render_products.html.twig' %}
	{% else %}
		<div class="block">
			<div class="no-results">
				Не найдено препаратов по AТX коду <span>{{ atc.ATCCode }}</span>
			</div>
		</div>
	{% endif %}

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.show-tree {
			margin-left: 20px;
		}
	</style>
{% endblock %}