<form id="form" method="GET" action="{{ path('kfu') }}">

	<div id="form_controls">
		<input id="form_submit" type="submit" value="Найти" class="btn-red">
		<input id="form_input" type="text" name="q" placeholder="Введите слово для поиска..."
			   value="{{ q is defined and q is not empty and not l ? q }}"/>
	</div>

	<div class="letters">
		<div>
			<input type="submit" value="01" name="l" {{ l == '01' ? ' class="active"' }}/>
			<input type="submit" value="02" name="l" {{ l == '02' ? ' class="active"' }}/>
			<input type="submit" value="03" name="l" {{ l == '03' ? ' class="active"' }}/>
			<input type="submit" value="04" name="l" {{ l == '04' ? ' class="active"' }}/>
			<input type="submit" value="05" name="l" {{ l == '05' ? ' class="active"' }}/>
			<input type="submit" value="06" name="l" {{ l == '06' ? ' class="active"' }}/>
			<input type="submit" value="07" name="l" {{ l == '07' ? ' class="active"' }}/>
			<input type="submit" value="08" name="l" {{ l == '08' ? ' class="active"' }}/>
			<input type="submit" value="09" name="l" {{ l == '09' ? ' class="active"' }}/>
			<input type="submit" value="10" name="l" {{ l == '10' ? ' class="active"' }}/>
			<input type="submit" value="11" name="l" {{ l == '11' ? ' class="active"' }}/>
			<input type="submit" value="12" name="l" {{ l == '12' ? ' class="active"' }}/>
			<input type="submit" value="13" name="l" {{ l == '13' ? ' class="active"' }}/>
			<input type="submit" value="14" name="l" {{ l == '14' ? ' class="active"' }}/>
			<input type="submit" value="15" name="l" {{ l == '15' ? ' class="active"' }}/>
			<input type="submit" value="16" name="l" {{ l == '16' ? ' class="active"' }}/>
			<input type="submit" value="17" name="l" {{ l == '17' ? ' class="active"' }}/>
			<input type="submit" value="18" name="l" {{ l == '18' ? ' class="active"' }}/>
			<input type="submit" value="19" name="l" {{ l == '19' ? ' class="active"' }}/>
			<input type="submit" value="20" name="l" {{ l == '20' ? ' class="active"' }}/>
			<input type="submit" value="21" name="l" {{ l == '21' ? ' class="active"' }}/>
			<input type="submit" value="22" name="l" {{ l == '22' ? ' class="active"' }}/>
			<input type="submit" value="23" name="l" {{ l == '23' ? ' class="active"' }}/>
			<input type="submit" value="24" name="l" {{ l == '24' ? ' class="active"' }}/>
			<input type="submit" value="25" name="l" {{ l == '25' ? ' class="active"' }}/>
			<input type="submit" value="26" name="l" {{ l == '26' ? ' class="active"' }}/>
			<input type="submit" value="27" name="l" {{ l == '27' ? ' class="active"' }}/>
			<input type="submit" value="28" name="l" {{ l == '28' ? ' class="active"' }}/>
			<input type="submit" value="29" name="l" {{ l == '29' ? ' class="active"' }}/>
			<input type="submit" value="30" name="l" {{ l == '30' ? ' class="active"' }}/>
			<input type="submit" value="31" name="l" {{ l == '31' ? ' class="active"' }}/>
			<input type="submit" value="32" name="l" {{ l == '32' ? ' class="active"' }}/>
			<input type="submit" value="33" name="l" {{ l == '33' ? ' class="active"' }}/>
			<input type="submit" value="34" name="l" {{ l == '34' ? ' class="active"' }}/>
		</div>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		$('#form_input')
			.autocomplete({
				minLength: 2,
				source:    function(request, response) {
					var url = Routing.generate('elastic_autocomplete_ext', {
						'type': 'kfu',
						'term': request.term.trim()
					});
					$.getJSON(url, function(data) {
						response($.map(data.hits.hits, function(item) {
							return {
								label: item.highlight.name,
								value: item._source.name,
								type:  item._source.type
							}
						}));
					});
				},
				select:    function(event, ui) {
					if (ui.item) {
						$(this).val(ui.item.value);
					}
				}
			})
			.data("ui-autocomplete")._renderItem = function(ul, item) {
			return $('<li class="aut"></li>')
				.data("item.autocomplete", item)
				.append("<a>" + item.label + "</a>")
				.appendTo(ul);
		};

		$('.letters input').click(function() {
			$('#form_input').attr('disabled', 'disabled');
		});
	});
</script>