{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block title %}
	<h1>{{ phthgroup.Name|raw }}</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('index') }}" itemprop="url">
				<span itemprop="title">Видаль</span>
			</a>
		</div>
		<i></i>

		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('pharm') }}" itemprop="url"
			   title="Фармако-терапевтические группы ГосРеестра МинЗдрава РФ">
				<span itemprop="title">ФТГ</span>
			</a>
		</div>
		<i></i>

		<span>{{ phthgroup.Name|raw }}</span>
	</div>
{% endblock %}


{% block vidal %}
	<div class="anons anons-head">
		<span>Фармако-терапевтическая группа ГосРеестра МинЗдрава РФ</span>
	</div>

	{% if products is defined and products is not empty %}
		<div class="block">
			<div class="block-head">Препараты группы</div>
			{% include 'VidalDrugBundle:Vidal:render_products.html.twig' %}
		</div>
	{% else %}
		<div class="no-results">
			Не найдено препаратов
			<span>{{ phthgroup.Name|capitalize }}</span>
		</div>
	{% endif %}

{% endblock %}