{% extends 'VidalMainBundle::layout_promo.html.twig' %}

{% block middle %}
        <div class="back"><a href="{{ path('boiron_main') }}">< Вернуться назад</a></div>
        {% if page == 1 %}
            <div class="boiron-bg">
                <div class="boiron-content">
                    <div class="content">
                        <img src="{{ asset('bundles/vidalmain/boiron/holdhot.png') }}" style="width: 393px; float: left; margin-left: 70px;">
                        <br />
                        <br />
                        <br />
                        <img src="{{ asset('bundles/vidalmain/boiron/img2v2.png') }}" style="width: 450px; float: right; padding: 0 0 10px 10px;">
                        <span style="color: #024a9c; font-size: 18px;">Мамы всегда волнуются за своих детей – а вдруг замерзнет? Но ведь перегрев еще тоже никому не шел на пользу. Так как же найти золотую середину?</span>
                        <br />
                        <br />
                        Все мы видели забавные фотографии, на которых изображены дети, укутанные с ног до головы. Ходить в такой экипировке крайне проблематично, а уж играть тем более. Однако смех-смехом, но когда встает вопрос о том, в чем вывести гулять ребенка в феврале, тут уж не до смеха.
                        <br />
                        <br />
                        <span style="color: #e8191f; font-size: 18px;">Чем теплее – тем лучше?</span>
                        <br />
                        <br />
                        Главное, чтобы ребенок не мерз! Руководствуясь этим принципом, многие современные мамы надевают на малыша несколько слоев одежды, которая должна защитить его от холода, ветра, дождя и всех возможных капризов погоды. Но для французских мам это нонсенс. И дело не в том, что они не заботятся о своих детях. Вопрос в естественной терморегуляции. Дело в том, что излишне теплая одежда может ее нарушить. Таким образом, если на улице недостаточно холодно, то ребенок начинает потеть или, по-простому, «париться». Ничего хорошего в этом нет. Потому что сквозняки никто не отменял. А что будет, если распаренного ребенка выставить на сквозняк, знает каждая мама. Поэтому лишний раз укутывать малыша не нужно. Но можно захватить с собой дополнительную теплую кофточку, например, на случай, если окажется, что на улице действительно холодно, и малыш мерзнет.
                        <br />
                        <br />
                        <span style="color: #024a9c; font-size: 18px;">Ему же холодно!</span>
                        <br />
                        <br />
                        Поведение некоторых французских мам иногда кажется российским мамам странным. Создается впечатление, что француженки не знают о сквозняках, не боятся болезней и вообще ведут себя безответственно. Но это только на первый взгляд. На самом деле француженки часто доверяют природным инстинктам. Погода в Париже переменчива. Если с детства ребенок к этому не адаптируется, в дальнейшем это приведет только к тому, что он будет либо часто болеть, либо переносить смены погоды с трудом. Поэтому француженки дают возможность организму самостоятельно адаптироваться к колебаниям температур. Поэтому на ребенка одевают только те вещи, которые соответствуют моменту, не перестраховываясь. Это помогает избежать нарушения естественной терморегуляции, что в целом хорошо для организма.
                        <br />
                        <br />
                        <img src="{{ asset('bundles/vidalmain/boiron/box.png') }}" style="width: 300px; float: left; padding: 10px 10px 10px 0;">
                        <span style="color: #00aa51; font-size: 18px;">Материнские чувства</span>
                        <br />
                        <br />
                        Француженки считают, что перестраховка не является проявлением заботы. Гораздо действеннее не предотвратить что-либо, а научить ребенка справляться с новыми обстоятельствами. Например, ОРВИ и грипп, которого боятся российские мамы как огня, для француженок – всего лишь болезни, с которыми легко можно справиться. Поэтому для заботы о здоровье своих детей француженки часто выбирают <span style="color: #e8191f">Оциллококцинум®</span> – препарат №1 от гриппа и простуды во Франции*.
                        При первых симптомах заболевания французские мамы   сразу дают своим малышам  <span style="color: #e8191f">Оциллококцинум®</span>. Ведь его прием на ранних стадиях помогает предотвратить дальнейшее развитие заболевания. ** Если все же избежать болезни не удалось, и ребенок окончательно разболелся- <span style="color: #e8191f">Оциллококцинум®</span> помогает облегчить течение болезни и поспособствует восстановлению после нее. И французским мамам хорошо известно, что  Оциллококцинум® можно принимать как для лечения, так и для профилактики, что особенно актуально в большой семье. Ведь профилактический прием Оциллококцинума® снижает риск заболеваемости ОРВИ и гриппом в 2 раза***.
                        <img src="{{ asset('bundles/vidalmain/boiron/logo-bottom.png') }}" style="width: 150px; float: right; padding: 10px 0 10px 10px;">
                        <br /><br />
                        <span style="color: #e8191f; font-weight: bold; font-size: 20px">Оциллококцинум® - проверенное французское решение для профилактики и лечения гриппа и простуды!</span>
                        <br />
                        <br />
                        <i style="font-size: 11px">
                            * Источник: IMS Health – Pharmatrend Database – Март 2013 MAT – Рынок лекарственных средств против гриппа во Франции – в денежном выражении
                            <br />
                            ** Статья  Сельковой Е.П.  «Изучение клинико-эпидемиологической эффективности препарата Оциллококцинум® в отношении гриппа и ОРВИ»,  журнал «Инфекционные болезни» сентябрь 2012г.
                            <br />
                            *** Статья Сельковой ЕП «Новые технологии в профилактике и лечении острой респираторной вирусной инфекции», журнал Consilium Medicum, приложение Педиатрия, №1, 2007, стр. 61-62
                        </i>
                        <br />
                        <br />
                        <img src="{{ asset('bundles/vidalmain/boiron/warning.png') }}" style="margin-left: -73px; width: 996px">
                    </div>
                </div>
            </div>
        {% elseif page == 2 %}
            <div class="boiron-bg2">
                <div class="boiron-content">
                    <div class="content">
                        <div style="width: 390px">
                            <span style="color: #024A9C; font-size: 35px; float: left; padding-bottom: 10px">Занимательное</span>
                            <span style="color: #024A9C; font-size: 35px; float: right;">страноведение</span>
                            <br style="clear: both;"/>
                        </div>
                        <br />
                        <img src="{{ asset('bundles/vidalmain/boiron/people3.png') }}" style="width: 310px; float: right; padding: 0 0 10px 10px;">
                        Найди Францию в России и наоборот
                        <br /><br />
                        Как познакомить малыша с большим и необъятным миром? Полистать вместе с ним детский атлас или энциклопедию о континентах, посмотреть образовательный фильм. А можно устроить целую игру и, проведя параллели между разными странами, узнать, что у них похожего. Возьмем, к примеру, Россию и Францию — и там, и там есть живописные горы, теплое море, удивительные дворцы и красивейшие города... Начнем прямо сейчас?
                        <br /><br />
                        Даже пятилетний ребенок хотя бы раз слышал о Париже и его знаменитой Эйфелевой башне. А в Москве, между тем, есть своя легендарная башня — Шуховская, с изящной сетчатой конструкцией. Она, конечно, уступает Эйфелевой и по размерам, и по популярности, но тем не менее во всем мире творение Шухова считают одним из высших достижений инженерного искусства!
                        <br /><br />
                        В пригороде Парижа располагается Версаль — роскошная резиденция французских королей, поражающая своим величием. А в России, неподалеку от Петербурга, находится гордость нашей страны — Петергоф. Интересно, что при замысле своей новой резиденции Петр I хотел во что бы то ни стало превзойти знаменитый Версаль. Удалось ли ему это?.. Решайте сами!
                        <br /><br />
                        Зимой одно из главных мест отдыха во Франции — курорт в Альпах у подножия горы Монблан, куда приезжают любители горных лыж и сноуборда. Именно в Шамони в 1924 году прошли I Зимние Олимпийские Игры. А спустя 90 лет Олимпиаду принял российский город Сочи. Здесь, в Красной Поляне, тоже есть знаменитые вершины — гора Ачишхо и хребет Аибго. Найдите их вместе с малышом на карте!
                        <br /><br />
                        А теперь перенесемся в лето! Лазурный берег Франции — одно из самых красивых мест на планете. Здесь 300 дней в году светит солнце, почти вплотную к изрезанному бухтами морскому побережью подступают горы, поэтому многие деревушки буквально  гнездятся на склонах. Так интересно рассматривать их на картинках! Но ничуть не уступает по красоте и наш Крым с его искрящимся морем, отвесными скалами и курортными городками. Как и Лазурный берег, Крым богат памятниками истории. Узнайте, какими!
                        <br /><br />
                        <img src="{{ asset('bundles/vidalmain/boiron/box.png') }}" style="width: 300px; float: left; padding: 10px 10px 10px 0;">
                        ...Отправляясь в путешествие, игровое или настоящее, возьмите с собой <span style="color: #e8191f;">Оциллококцинум®</span> — препарат №1 для лечения гриппа и простуды во Франции.* Очень важно иметь его под рукой в любой ситуации, ведь прием <span style="color: #e8191f;">Оциллококцинум®</span> при первых же симптомах гриппа и простуды помогает предотвратить дальнейшее развитие заболевания.**

                        Если вы или ваш малыш все же разболелись, <span style="color: #e8191f;">Оциллококцинум®</span> помогает облегчить течение болезни и поспособствует восстановлению после нее.
                        <img src="{{ asset('bundles/vidalmain/boiron/logo-bottom.png') }}" style="width: 150px; float: right; padding: 10px 0 10px 10px;">
                        Также препарат подходит  для профилактики — причем для всей семьи. Профилактический прием <span style="color: #e8191f;">Оциллококцинума®</span> снижает риск заболеваемости ОРВИ и гриппом в 2 раза***
                        Пусть частичка Франции всегда будет с вами — и дома, и в каждой поездке!
                        <br /><br />
                        <span style="color: #e8191f; font-weight: bold; font-size: 20px">Оциллококцинум® - проверенное французское решение для профилактики и лечения гриппа и простуды!</span>
                        <br /><br />
                        <i style="font-size: 11px">
                            * Источник: IMS Health – Pharmatrend Database – Март 2013 MAT – Рынок лекарственных средств против гриппа во Франции – в денежном выражении
                            <br />
                            ** Статья  Сельковой Е.П.  «Изучение клинико-эпидемиологической эффективности препарата Оциллококцинум® в отношении гриппа и ОРВИ»,  журнал «Инфекционные болезни» сентябрь 2012г.
                            <br />
                            *** Статья Сельковой ЕП «Новые технологии в профилактике и лечении острой респираторной вирусной инфекции», журнал Consilium Medicum, приложение Педиатрия, №1, 2007, стр. 61-62
                        </i>
                        <br />
                        <br />
                        <img src="{{ asset('bundles/vidalmain/boiron/warning.png') }}" style="margin-left: -73px; width: 996px">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="boiron-bg3">
                <div class="boiron-content">
                    <div class="content">
                        <div style="width: 390px">
                            <span style="color: #024A9C; font-size: 35px; padding-bottom: 10px; margin-left: 35px;">Зимняя Лихорадка</span>
                            <br style="clear: both;"/>
                        </div>
                        <br />
                        <img src="{{ asset('bundles/vidalmain/boiron/img3v2.png') }}" style="width: 450px; float: right; padding: 0 0 10px 10px;">
                        Курортов, достойных внимания, много, но мы бы выделили четыре, на наш взгляд, лучших. Если
                        помимо отличных спусков вас привлекают еще и живописные французские деревеньки, то
                        начните с Шамони. Это святая святых горнолыжной Франции и самый старый альпийский курорт,
                        расположившийся у подножия Монблана. В 1924 году здесь прошли первые Зимние Олимпийские
                        игры, так что инфраструктура тут просто идеальная. А вот если вы хотите попасть в один из самых
                        высокогорных и заснеженных курортов, то лучше выбрать Валь Торанс. К тому же, здесь проходят
                        самые веселые après ski вечеринки.
                        <br /><br />
                        Далеко не все лучшее находится за пределами нашей страны, в России тоже можно найти
                        невероятно красивые места с прекрасным сервисом и отличным климатом. Например, на самом
                        популярном еще с советских времен курорте Домбай 320 солнечных дней в году, что превосходит
                        показатели всех высокогорных курортов Европы. А Красная Поляна, благодаря своей близости к
                        морю, входит в десятку лучших мест для катания с самым большим перепадом высот. Так что
                        думайте сами, решайте сами, куда вам отправиться, главное, готовясь к поездке, не забудьте
                        захватить с собой аптечку. Ведь в горах может случиться всякое- от ушибов до простуды. И совсем
                        не хочется тратить драгоценные дни отпуска на простуду. Как только чувствуете, что простуда вас
                        может уложить в постель надолго, сразу же принимайте Оциллококцинум®! Его прием на ранних
                        стадиях помогает предотвратить дальнейшее развитие заболевания!*
                        <br />
                        <img src="{{ asset('bundles/vidalmain/boiron/box.png') }}" style="width: 300px; float: left; padding: 10px 10px 10px 0;">
                        <br />
                        Если вы все же разболелись, Оциллококцинум® помогает облегчить течение болезни и
                        поспособствует восстановлению после нее. И, кстати, во Франции Оциллококцинум® уже давно
                        препарат №1 для лечения гриппа и простуды.*
                        <br /><br />
                        Также Оциллококцинум® можно принимать как для лечения, так и для профилактики, поэтому не
                        забывайте устроить профилактику перед поездкой. Ведь профилактический прием
                        <img src="{{ asset('bundles/vidalmain/boiron/logo-bottom.png') }}" style="width: 150px; float: right; padding: 10px 0 10px 10px;">
                        Оциллококцинума® снижает риск заболеваемости ОРВИ и гриппом в 2 раза***
                        <br /><br />
                        <span style="color: #e8191f; font-weight: bold; font-size: 20px">Оциллококцинум® - проверенное французское решение для профилактики и лечения гриппа и простуды!</span>
                        <br /><br />
                            <i>Реклама. РУ П N014236/01 От 07.08.2008</i>
                        <br /><br />
                        <i style="font-size: 11px">
                            * IMS Health – Pharmatrend Database – Март 2013 MAT – Рынок лекарственных средств против гриппа во Франции – в денежном выражении
                            <br />
                            *Статья Сельковой Е.П. «Изучение клинико-эпидемиологической эффективности препарата Оциллококцинум® в отношении гриппа и ОРВИ», журнал «Инфекционные болезни» сентябрь 2012г.
                            <br />
                            ** Источник: IMS Health – Pharmatrend Database – Март 2013 MAT – Рынок лекарственных средств против гриппа во Франции – в денежном выражении»
                            <br />
                            *** Статья Сельковой ЕП  «Новые технологии в профилактике  и лечении острой респираторной вирусной инфекции», журнал Consilium Medicum, приложение Педиатрия, №1, 2007, стр. 61-62
                        </i>
                        <br />
                        <br />
                        <img src="{{ asset('bundles/vidalmain/boiron/warning.png') }}" style="margin-left: -73px; width: 996px">
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .boiron-bg{
            background: url('{{ asset('bundles/vidalmain/boiron/bg2.png') }}');
            position: relative;
            height: 1480px;g
        }
        .boiron-bg2{
            background: url('{{ asset('bundles/vidalmain/boiron/bg2.png') }}');
            position: relative;
            height: 1350px;
        }
        .boiron-bg3{
            background: url('{{ asset('bundles/vidalmain/boiron/bg2.png') }}');
            position: relative;
            height: 1215px;
        }
        .boiron-content{
            min-height: 500px;
        }
        .boiron-box{
            width: 410px;
            position: absolute;
            top: 178px;
            right: 46px;
        }
        .boiron-footer{
            height: 200px;
            background: #FFFFFF;
            position: relative;
        }
        .line{
            text-align: left;
            margin-left: 55px;
            position: relative;
            /*margin-top: 20px;*/
        }
        .comment{
            position: absolute;
            bottom: 0;
            left: 20px;
            width: 150px;
            cursor: pointer;
        }
        .content{
            width: 850px;
            margin: 0 auto;
            padding-top: 35px;
            color: #6a685a;
            line-height: 22px;
            font-size: 15px;
            text-align: justify;
            position: relative;
        }
        .line-title{
            position: absolute;
            font-weight: bold;
            color: #353535;
            font-size: 20px;
            top: 48px;
            left: 23px;
        }
        .comment-box{
            position: relative;
        }
        .comment-title{
            position: absolute;
            color: #EEEEEE;
            right: 25px;
            top: -54px;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
        }
        .logo-a{
            display: block;
            position: absolute;
            width: 360px;
            height: 70px;
            top: 35px;
            left: 300px;
        }
        .back{
            color: #024a9c;
            font-size: 18px;
            font-style: italic;
            margin-bottom: 10px;
            text-decoration: none !important;
        }
        .back a{
            color: #024a9c;
            text-decoration: none !important;
        }
        .back:hover{
            text-decoration: underline;
        }
        .back a:hover{
            color: #024a9c;
            text-shadow: 1px 1px rgba(0, 0, 204, 0.14);
        }
    </style>
{% endblock %}