<ul>
	<li>
		<a href="{{ path('interaction') }}" target="_blank">Проверка лекарственного взаимодействия</a>
	</li>
	<li>
		<a href="{{ path('products') }}" target="_blank">Препараты и БАД по алфавиту</a>
	</li>
	<li>
		<a href="{{ path('atc') }}" target="_blank">Анатомо-Терапевтически-Химическая (АТХ) система классификации</a>
	</li>
	<li>
		<a href="{{ path('nosology') }}" target="_blank">Нозологический указатель</a>
	</li>
	<li>
		<a href="{{ path('kfu') }}" target="_blank">Клинико-фармакологический указатель</a>
	</li>
	<li>
		<a href="{{ path('companies') }}" target="_blank">Компании</a>
	</li>
	<li>
		<a href="{{ path('searche') }}" target="_blank">Расширенный поиск</a>
	</li>
</ul>