{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block vidal %}
	{% include 'VidalDrugBundle:Drugs:menu_drugs.html.twig' %}

	<div id="searche_filter">

		<div class="searche-filter-content">
			<div class="searche-nozologies">
				<div class="label">Показания</div>
				<div class="items">
					<input id="searche_nozology" type="text" placeholder="добавить..."/>
					<ul class="removable">
						{% if nozologies is defined %}
							{% for nozology in nozologies %}
								<li><i></i><span>{{ nozology.Name }}</span><b>{{ nozology.NozologyCode }}</b></li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>

			{#<div class="searche-contraindications">#}
			{#<div class="label">Исключая противопоказания</div>#}
			{#<div class="items">#}
			{#<input id="searche_contraindication" type="text" placeholder="добавить..."/>#}
			{#<ul class="removable">#}
			{#{% if contraindications is defined %}#}
			{#{% for contra in contraindications %}#}
			{#<li><i></i><span>{{ contra.RusName }}</span><b>{{ contra.ContraIndicCode }}</b></li>#}
			{#{% endfor %}#}
			{#{% endif %}#}
			{#</ul>#}
			{#</div>#}
			{#</div>#}

			<div class="right">
				<button id="searche_filter_submit" class="btn-red">Найти</button>
			</div>
		</div>
	</div>

	{% include 'VidalDrugBundle:Search:search_info.html.twig' %}

	<div class="search-results">

		{# Найдено препаратов по показаниям/противопоказаниям #}
		{% if productsPagination is defined %}
			{% if productsPagination is not empty %}
				<div class="block">
					<div class="block-anons">
						<div class="block-head">
							Найдено препаратов по показаниям/противопоказаниям:
							<span>{{ productsPagination.totalItemCount }}</span>
						</div>
					</div>
				</div>

				{% include 'VidalDrugBundle:Vidal:render_products.html.twig' with {
				'products':productsPagination.items,
				'companies':companies
				} %}

				<div class="navigation">
					{{ knp_pagination_render(productsPagination) }}
				</div>
			{% elseif t == 'product' %}
				<div class="no-results">
					Не найдено препаратов по показаниям/противопоказаниям
				</div>
			{% endif %}
		{% endif %}

		{# если в поиске по показанию не указано ни одного показания #}
		{% if noNozology is defined %}
			<div class="no-results">
				Необходимо указать хотя бы одно <span>показание</span> к применению
			</div>
		{% elseif productsPagination is defined and productsPagination.totalItemCount == 0 %}
			<div class="no-results">
				Не найдено результатов
			</div>
		{% endif %}

	</div>

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/searche.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/letters.css') }}"/>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#searche_nozology')
				.autocomplete({
					minLength: 2,
					source:    function(request, response) {
						$.ajax({
							url:      "https://www.vidal.ru:9000/website/autocomplete_nozology/_search",
							type:     "POST",
							dataType: "JSON",
							data:     '{ "query":{"query_string":{"query":"' + request.term + '*"}}, "fields":["name","code"], "size":15, "highlight":{"fields":{"name":{}}} }',
							success:  function(data) {
								response($.map(data.hits.hits, function(item) {
									return {
										label: item.highlight.name,
										value: item.fields.name,
										code:  item.fields.code
									}
								}));
							}
						});
					},
					select:    function(event, ui) {
						$(this.nextElementSibling).append('<li><i></i><span>' + ui.item.value + '</span><b>' + ui.item.code + '</b></li>');
					}
				})
				.data("ui-autocomplete")._renderItem =
				function(ul, item) {
					return $("<li></li>").data("item.autocomplete", item).append("<a>" + item.label + "</a>").appendTo(ul);
				};

			$('#searche_filter_submit').click(function() {
				var params = [];
				var nozologyCodes = [];
				var contraCodes = [];

				$('.searche-nozologies li b').each(function() {
					nozologyCodes.push(this.innerHTML);
				});
				if (nozologyCodes.length) {
					params['nozology'] = nozologyCodes.join('-');
				}
				$('.searche-contraindications li b').each(function() {
					contraCodes.push(this.innerHTML);
				});
				if (contraCodes.length) {
					params['contra'] = contraCodes.join('-');
				}

				location.href = Routing.generate('searche_indic', params);
			});

			$('ul.removable').on('click', 'li i', function() {
				$(this).parent('li').remove();
			});

			$('#searche_filter .searche-filter-title').click(function() {
				$('#searche_filter .searche-filter-content').slideToggle();
			});
		});
	</script>
{% endblock %}