{% set route = app.request.get('_route') %}


<div class="controls">
	<a class="control {{ route == 'delivery'?'active':'' }}" href="{{ path('delivery') }}" title="Шаблон письма и настройка параметров">Шаблон письма</a>
	<a class="control {{ route == 'delivery_control'?'active':'' }}" href="{{ path('delivery_control') }}" title="Управление рассылкой">Управление</a>
	<a class="control {{ route == 'delivery_stats'?'active':'' }}" href="{{ path('delivery_stats') }}"
	   title="По всем рассылкам">Статистика рассылок</a>
	<a class="control {{ route == 'delivery_test'?'active':'' }}" href="{{ path('delivery_test') }}"
	   title="Отправить на тестовые e-mail адреса">Тестовая рассылка</a>
</div>


<style type="text/css">
	.outer {
		margin: 0 0 20px;
	}
	.msg {
		background:    rgb(193, 232, 214);
		padding:       6px 10px;
		margin-bottom: 25px;
	}
	.controls {
		text-align: center;
		margin-bottom: 28px;
	}
	.control {
		display:          inline-block;
		text-decoration:  none;
		font-weight:      bold;
		color:            #2e3f51;
		margin-right:     6px;
		height:           24px;
		line-height:      24px;
		border:           1px solid #2e3f51;
		padding:          0 7px;
		border-radius:    4px;
		background-color: white;
		vertical-align:   top;
	}
	.control.active {
		color: white;
		background: #2e3f51;
	}
</style>