{% set type = app.request.get('t') %}

<table>
	<tr>
		<td class="header-1">
			<a href="{{ envLocal ? '/app_dev.php' : path('index') }}" class="header-link">
				<img src="{{ asset('bundles/vidalmain/images/vidal.png') }}" alt="Vidal Logo" />
			</a>
		</td>
		<td class="header-2">
			<img src="{{ asset('bundles/vidalmain/images/header-about.jpg') }}" alt="About header" />
		</td>
		<td class="header-3">
			<img src="{{ asset('bundles/vidalmain/images/header-search.jpg') }}" alt="Search header" />
		</td>
		<td class="header-4">
			<form id="search_form" class="search" method="get" action="{{ path('search') }}">
				<table>
					<tr class="row1">
						<td class="bg-gray">
							<select class="search-type" name="t">
								<option value="all" {{ type == 'all' ? 'selected="selected"' }}>
									ВЕЗДЕ
								</option>
								<option value="product" {{ type == 'product' ? 'selected="selected"' }}>
									ПО ПРЕПАРАТУ
								</option>
								<option value="company" {{ type == 'company' ? 'selected="selected"' }}>
									ПО КОМПАНИИ
								</option>
								<option value="molecule" {{ type == 'molecule' ? 'selected="selected"' }}>
									ПО ВЕЩЕСТВУ
								</option>
								<option value="atc" {{ type == 'atc' ? 'selected="selected"' }}>
									ПО АТХ КОДУ
								</option>
								<option value="disease" {{ type == 'disease' ? 'selected="selected"' }}>
									ПО ЗАБОЛЕВАНИЮ
								</option>
							</select>
						</td>
						<td class="sf">
							<input type="submit" value="" class="search-submit"/>
							<input class="search-query" type="text" name="q" autocomplete="off"
								   placeholder="Арбидол, Байер, грипп..."
								   value="{{ app.request.attributes.get('_route') == 'search' ? app.request.get('q') }}"/>
						</td>
					</tr>
					<tr>
						<td class="st no-selection" colspan="2">
							<input type="checkbox" id="bad" name="bad" class="checkbox" checked="checked"/>
							<label for="bad" class="searchl">включая БАД</label>
							<a id="searche_link" href="{{ path('drugs') }}">расширенный поиск</a>

                            <div style="  float: right;  clear: both;  margin-top: 10px;">
                                <a target="_blank" rel="nofollow" href="https://www.facebook.com/vidalru"><img src="{{ asset('bundles/vidalmain/images/social/facebook.png') }}" alt="facebook" /></a>
                                <a target="_blank" rel="nofollow" href="https://vk.com/vidalru"><img src="{{ asset('bundles/vidalmain/images/social/vk.png') }}" alt="vk" /></a>
								<a target="_blank" rel="nofollow" href="https://ok.ru/group/57622762815528"><img src="{{ asset('bundles/vidalmain/images/social/ok.jpg') }}" alt="odnoklassniki" /></a>
								<a target="_blank" rel="nofollow" href="https://vidalru.livejournal.com/"><img src="{{ asset('bundles/vidalmain/images/social/livejournal.png') }}" alt="livejournal" /></a>
                                <a target="_blank" rel="nofollow" href="https://google.com/+VidalRu"><img src="{{ asset('bundles/vidalmain/images/social/gplus.png') }}" alt="linkedin" /></a>
                                <a target="_blank" rel="nofollow" href="https://twitter.com/Vidalru"><img src="{{ asset('bundles/vidalmain/images/social/twitter.png') }}" alt="twitter" /></a>
                                <a target="_blank" rel="nofollow" href="https://vidalru.blogspot.ru/"><img src="{{ asset('bundles/vidalmain/images/social/blogspot.png') }}" alt="blogspot" /></a>
                                {#<a target="_blank" rel="nofollow" href="https://www.linkedin.com/company/vidal-ru/"><img src="{{ asset('bundles/vidalmain/images/social/linkedin.png') }}" alt="linkedin" /></a>#}
                            </div>
						</td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>