<!DOCTYPE html>
{% set isAdmin = app.user is not null and is_granted('ROLE_ADMIN') %}
{% set route = app.request.get('_route') %}
{% set indexPage = indexPage is defined and indexPage %}
{% set isMobile = is_mobile() %}
{% set envLocal = env_local == 'true' %}
{% set indexPage = indexPage is defined and indexPage %}
{% set productPage = productPage is defined and productPage %}
<html lang="ru">
<head>
	<meta charset="UTF-8"/>
	<meta name="robots" content="index, follow"/>
	<link rel="canonical" href="{{ app.request.uri|canonical }}"/>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}?v=2"/>

	{% block meta %}
		<title>{% spaceless %}
				{% if seotitle is defined and seotitle is not null %}
					{{ seotitle }}
				{% else %}
					{{ title is defined and title is not null ? title ~ ' | ' }}Vidal.ru - cправочник лекарственных препаратов
				{% endif %}
			{% endspaceless %}</title>
		<meta name="description" content="{% spaceless %}
				{% if description is defined and description is not null %}
					{{ description }}
				{% else %}
					{{ title is defined ? title ~ '. ' }}Справочник лекарственных препаратов, содержащий подробные описания и инструкции по применению лекарственных средств. Так же, на сайте: медицинская энциклопедия с описанием болезней, новости медицины и фармацевтики, взаимодействие лекарств и исследования их эффективности.
				{% endif %}
			{% endspaceless %}"/>
		<meta name="keywords" content="{% spaceless %}
				{% if keywords is defined %}
					{{ keywords }}
				{% else %}
					{{ title is defined ? title ~ ' ' }}Справочник лекарственных препаратов, средств, лекарства, описания, инструкции, применение, медицина, болезни, энциклопедия, врачи, новости, лечение, Видаль
				{% endif %}
			{% endspaceless %}"/>

		{% if route not in ['product','article', 'art','publication'] %}
			<meta property="og:image" content="https://www.vidal.ru/bundles/vidalmain/images/share/vidal.jpg"/>

			{% if seotitle is defined and seotitle is not null %}
				<meta property="og:title" content="{{ seotitle }}"/>
			{% elseif title is defined and title is not null %}
				<meta property="og:title" content="{{ title }}"/>
			{% endif %}

			{% if route == 'index' %}
				<meta property="og:description"
					  content="Справочник лекарственных средств, содержащий подробные описания и инструкции по применению препаратов. Также на сайте: материалы для специалистов, включая данные клинических исследований и алгоритмы ведения пациентов, медицинская энциклопедия с описанием болезней, новости медицины и фармации."/>
			{% elseif description is defined and description is not null %}
				<meta property="og:description" content="{{ description }}"/>
			{% endif %}

		{% endif %}
	{% endblock %}

	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/common.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/jquery-chosen/chosen.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/checkbox/checkbox.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/jquery-ui/jquery-ui-1.10.4.custom.min.css') }}"/>
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/old_ie.css') }}"/>
		<![endif]-->
		{% if isMobile %}
			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/base500.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/base750.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/base1000.css') }}"/>
		{% endif %}
	{% endblock %}

	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/jquery-1.11.0.min.js') }}"></script>

	{% if env_local != 'true' %}
		{% include 'VidalMainBundle:Metrika:yandex_metrika.html.twig' %}
	{% endif %}
</head>

<body>
{% if env_local != 'true' %}
	{% include 'VidalMainBundle:Metrika:google_analytics.html.twig' %}
	{% include 'VidalMainBundle:Metrika:mail_metrika.html.twig' %}
	{% include 'VidalMainBundle:Metrika:smartpixel.html.twig' %}
{% endif %}

<div id="wrapper" class="wrapper" style="position: relative;">
	{% if not isMobile and env_local != true and noYad is not defined %}
		{{ render(controller('VidalMainBundle:Banner:render', {'request':app.request, 'groupId':2, 'indexPage':indexPage})) }}
	{% elseif isMobile %}
		{{ render(controller('VidalMainBundle:Banner:renderMobileGroup', {'request':app.request, 'groupId':2, 'indexPage':indexPage})) }}
	{% endif %}

	{% if isMobile %}
		{% include 'VidalMainBundle::mobile_menu.html.twig' %}
	{% endif %}

	<div class="header">
		{% include 'VidalMainBundle::header.html.twig' %}
	</div>

	{% block middle %}
		<table class="middle">
			<tr>
				<td class="left-sidebar">
					{% include 'VidalMainBundle::left_sidebar.html.twig' %}
				</td>
				<td class="main">
					{% block main %}
						{% block menu %}
							{% include 'VidalMainBundle::menu_small.html.twig' %}
						{% endblock %}
						{% block nav %}{% endblock %}
						{% block title %}{% endblock %}
						<div class="content">
							{% block content %}{% endblock %}
						</div>
					{% endblock %}
				</td>
				<td class="right-sidebar" style="position:relative">
					{% block right %}
						{% include 'VidalMainBundle::right_sidebar.html.twig' %}
					{% endblock %}
				</td>
			</tr>
		</table>
	{% endblock %}

	{% block footer %}
		{% if not isMobile and env_local != true and noYad is not defined %}
			{{ render(controller('VidalMainBundle:Banner:render', {'request':app.request, 'groupId':1, 'indexPage':indexPage})) }}
		{% elseif isMobile %}
			{{ render(controller('VidalMainBundle:Banner:renderMobileGroup', {'request':app.request, 'groupId':1, 'indexPage':indexPage})) }}
		{% endif %}

		<div class="footer">
			{% include 'VidalMainBundle::footer.html.twig' %}
		</div>
	{% endblock %}
</div>

<div id="overlay"></div>

<a id="top-link" href="#">
	<img src="{{ asset('bundles/vidalmain/images/icon_top.png') }}" alt="go to top"/>
</a>

{% if env_local != 'true' %}
	{% include 'VidalMainBundle:Metrika:mail_metrika_image.html.twig' %}
{% endif %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/detectmob.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/coockie.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/checkbox/jquery.checkbox.js') }}"></script>
	<script type="text/javascript"
			src="{{ asset('bundles/vidalmain/jquery-chosen/chosen.jquery.min.js') }}"></script>
	<script type="text/javascript"
			src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	<script type="text/javascript"
			src="{{ asset('bundles/vidalmain/jquery-ui/jquery-ui-1.10.4.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/swfobject2.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/ready2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/ready_last.js') }}"></script>
{% endblock %}

{{ render(controller('VidalMainBundle:Index:links')) }}

</body>
</html>