<div class="mobile_menu">
	<div class="mobile_menu_auth"></div>
	<div class="mobile_menu_search">
		<div class="mobile_menu_search_overlay"></div>
		<form id="search_form_top" class="search" method="get" action="{{ path('search') }}">
			<input type="hidden" name="search-type" value="{{ app.request.get('t')|default('all') }}">
			<input type="submit" value="" class="search-submit">
			<input class="search-query ui-autocomplete-input" type="text" name="q" autocomplete="off"
				   placeholder="Арбидол, Байер, грипп..."
				   value="{{ app.request.attributes.get('_route') == 'search' ? app.request.get('q') }}">
		</form>
	</div>

	<div class="mobile_menu_icon"></div>

	<div class="mobile_menu_hidden">
		<div class="mobile_menu_overlay"></div>
		<div class="mobile_menu_close"></div>
		<div class="mobile_menu_wrap"></div>
	</div>

	<div class="mobile_search_hidden">
		<div class="mobile_search_overlay"></div>
		<div class="mobile_search_close"></div>
		<div class="mobile_search_wrap"></div>
	</div>

	<div class="mobile_auth_hidden">
		<div class="mobile_auth_overlay"></div>
		<div class="mobile_auth_close"></div>
		<div class="mobile_auth_wrap"></div>
	</div>
	<div style="text-align: center;margin-top:20px;" class="mobile_social">
		<a target="_blank" href="https://www.facebook.com/vidalru"><img class="tada animated"
																		src="{{ asset('bundles/vidalmain/images/social/facebook_big.png') }}"
																		style="width: 30px;" alt="facebook"/></a>
		<a target="_blank" href="https://vk.com/vidalru"><img class="tada animated"
															  src="{{ asset('bundles/vidalmain/images/social/vk_big.png') }}"
															  style="width: 30px;" alt="vkontakte"/></a>
		<a target="_blank" href="https://vidalru.livejournal.com/"><img class="tada animated"
																		src="{{ asset('bundles/vidalmain/images/social/livejournal_big.png') }}"
																		style="width: 30px;" alt="livejournal"/></a>
		<a target="_blank" href="https://google.com/+VidalRu"><img class="tada animated"
																   src="{{ asset('bundles/vidalmain/images/social/gplus_big.png') }}"
																   style="width: 30px;" alt="googleplus"/></a>
		<a target="_blank" href="https://twitter.com/Vidalru"><img class="tada animated"
																   src="{{ asset('bundles/vidalmain/images/social/twitter_big.png') }}"
																   style="width: 30px;" alt="twitter"/></a>
		<a target="_blank" href="https://vidalru.blogspot.ru/"><img class="tada animated"
																	src="{{ asset('bundles/vidalmain/images/social/blogspot_big.png') }}"
																	style="width: 30px;" alt="blogspot"/></a>
		<a target="_blank" href="https://www.linkedin.com/company/vidal-ru/"><img class="tada animated"
																				  src="{{ asset('bundles/vidalmain/images/social/linkedin_big.png') }}"
																				  style="width: 30px;"
																				  alt="linkedin"/></a>
	</div>
</div>