<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/avgrund.css') }}" property="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/animate.css') }}" property="stylesheet" />
<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/avgrund.min.js') }}"></script>
<script>
    $(function() {
         {% if app.user %}
            var cookie = getCookie('popup_m');
            if (!cookie){
                Avgrund.show( "#default-popup" );
                $("#overlay").css('display','block');
                $("#overlay").css('cursor','pointer');
                $("#overlay").attr('onclick','javascript:closeDialog();');
                {% if app.debug %}
                SetCookieForNDays('popup_m', '1', 10, '/app_dev.php');
                {% else %}
                SetCookieForNDays('popup_m', '1', 10, '/');
                {% endif %}
         {% else %}
            var cookie = getCookie('popup');
            if (!cookie){
                Avgrund.show( "#default-popup" );
                $("#overlay").css('display','block');
                $("#overlay").css('cursor','pointer');
                $("#overlay").attr('onclick','javascript:closeDialog();');
                {% if app.debug %}
                SetCookieForNDays('popup', '1', 1, '/app_dev.php');
                {% else %}
                SetCookieForNDays('popup', '1', 1, '/');
                {% endif %}
         {% endif %}
        
        }

    });
    function closeDialog() {
        Avgrund.hide();
        $("#overlay").css('display','none');
    }
    function SetCookieForNDays(name, value, days, path, domain, secure)
    {
        var today = new Date();
        expires = new Date(today.getTime() + days*24*60*60*1000);
        document.cookie = name + "=" + escape(value) +
                "; expires=" + expires.toGMTString() +
                ((path) ? "; path=" + path : "") +
                ((domain) ? "; domain=" + domain : "") +
                ((secure) ? "; secure" : "");
    }
    function getCookie(name) {
        var cookie = " " + document.cookie;
        var search = " " + name + "=";
        var setStr = null;
        var offset = 0;
        var end = 0;
        if (cookie.length > 0) {
            offset = cookie.indexOf(search);
            if (offset != -1) {
                offset += search.length;
                end = cookie.indexOf(";", offset)
                if (end == -1) {
                    end = cookie.length;
                }
                setStr = unescape(cookie.substring(offset, end));
            }
        }
        return(setStr);
    }
</script>
<style type="text/css">
    h1.h1SocialStyle {
        clear:both;
    }
</style>
<div class="overlay"></div>
<aside id="default-popup" class="avgrund-popup" style="  z-index: 1000;">
    <div style="float:left;"><img src="/bundles/vidalmain/images/vidal.png" alt="Vidal Logo" style="width: 130px;" /></div>
    <h1 class="h1SocialStyle">Присоединяйтесь к нам в социальных сетях!</h1>
    <ul class="socialText">
        <li>Сведения о безопасности лекарств</li>
        <li>Дайджесты обновлений на сайте</li>
        <li>Новости медицины и фармации</li>
    </ul>
    <div style="text-align: center;">
        <a target="_blank" href="https://www.facebook.com/vidalru"><img class="tada animated" src="{{ asset('bundles/vidalmain/images/social/facebook_big.png') }}" alt="facebook" style="width: 50px;"/></a>
        <a target="_blank" href="https://vk.com/vidalru"><img class="tada animated" src="{{ asset('bundles/vidalmain/images/social/vk_big.png') }}" alt="vkontakte" style="width: 50px;"/></a>
        <a target="_blank" href="https://vidalru.livejournal.com/"><img class="tada animated" src="{{ asset('bundles/vidalmain/images/social/livejournal_big.png') }}" alt="livejournal" style="width: 50px;"/></a>
        <a target="_blank" href="https://google.com/+VidalRu"><img class="tada animated" src="{{ asset('bundles/vidalmain/images/social/gplus_big.png') }}" alt="google plus" style="width: 50px;"/></a>
        <a target="_blank" href="https://twitter.com/Vidalru"><img class="tada animated" src="{{ asset('bundles/vidalmain/images/social/twitter_big.png') }}" alt="twitter" style="width: 50px;"/></a>
        <a target="_blank" href="https://vidalru.blogspot.ru/"><img class="tada animated" src="{{ asset('bundles/vidalmain/images/social/blogspot_big.png') }}" alt="blogspot" style="width: 50px;"/></a>
        <a target="_blank" href="https://www.linkedin.com/company/vidal-ru/"><img class="tada animated" src="{{ asset('bundles/vidalmain/images/social/linkedin_big.png') }}" alt="linkedin" style="width: 50px;"/></a>
    </div>
    <div style="clear:both;"></div>

    <div style="text-align: center;">
       <a href="javascript:void(0);" onclick="javascript:closeDialog();" class="closeButtonXBanner">✖</a>
    </div>
</aside>